<ion-view view-title="Outcomes">
    <ion-nav-buttons side="left"><a href="/#/tab/dashbaord" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <ion-list>
            <ion-item data-ng-repeat="outcome in o.all()" type="item-text-wrap">
                <div style="float:left; margin-right: 1em;">
                    <i class="listIcon icon ion-log-out"></i>
                </div>
                <div style="float:left; margin-right: 1em;">
                    <div class="title">{{outcome.title}}</div>
                    <div class="description">{{outcome.summary}}</div>
                    <div>
                        <div data-ng-repeat="alignment in outcome.alignments">
                            <level-tag data-ng-init="resource = getResource(alignment.resourceId)"
                                      text="resource.name" level="alignment.weight"
                                      icon="i.icons.resource"
                                    >
                            </level-tag>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
