<ion-header>
    <header-bar [title]="'Events Configuration'|translate"></header-bar>
</ion-header>

<ion-content class="outer-content configuration resources">
    <ion-card *ngIf="events">
        <table class="table table-striped listing" [mfData]="events | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
               [(mfSortBy)]="sortBy"
               [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
                <th colspan="7">
                    <ion-searchbar [(ngModel)]="filterQuery" placeholder="filter"></ion-searchbar>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of mf.data" class="order" (click)="configureEvent(event)">
                <td class="icon">
                    <app-icon name="event"></app-icon>
                </td>
                <td>
                    <div class="name">{{event.name}}</div>
                    <div class="description" [innerHTML]="event.description"></div>
                </td>
                <td class="list-drilldown">
                    <i [class]="icon.getClass('drilldown')"></i>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
        </table>
    </ion-card>
</ion-content>
