<ion-view view-title="Alignments">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div class="row responsive-sm">
            <div class="col">
                <ion-list>
                    <ion-item class="top"><h2>{{'Resources'|translate}}</h2></ion-item>
                    <ion-item class="gray" data-ng-if="!data.resources.length"><i class="{{i.loadingSpinner}}"></i> Loading...</ion-item>
                    <ion-item class="item-icon-right" data-ng-repeat="resource in data.resources" type="item-text-wrap"
                              href="#/resource/alignment/{{resource.id}}">
                        <i class="{{i.resource}} fa-lg"></i> {{resource.number}} {{resource.name}}
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                    <ion-item>
                        <button onclick="alert('TBD');" class="button button-balanced">
                            <i class="{{i.add}} fa-lg"></i> {{'Add Resource'|translate}}
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
