<ion-view view-title="{{'Learning Resources Management'|translate}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div class="row responsive-sm">
            <div class="col">
                <ion-list>
                    <ion-item class="top"><h2>{{'Resources'|translate}}</h2></ion-item>
                    <ion-item class="gray" data-ng-if="!data.resources.length"><i class="{{i.loadingSpinner}}"></i> Loading...</ion-item>
                    <ion-item class="item-icon-right" data-ng-repeat="resource in data.resources" type="item-text-wrap">
                        <div style="float:left;">
                            <a class="button button-small button-positive"
                               href="#/resource/edit/{{resource.id}}"><i class="{{i.edit}} fa-lg bold"></i></a>
                            <a class="button button-small button-positive"
                               href="#/resource/alignment/{{resource.id}}"><i class="{{i.slider}} fa-lg bold"></i></a>
                        </div>
                        <div style="float:left; margin-top:0.6em; margin-left:0.6em;">
                            <i class="{{i.resource}} fa-lg"></i> {{resource.nmb}} {{resource.n}}
                        </div>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                    <ion-item>
                        <button onclick="alert('TBD');" class="button button-balanced">
                            <i class="{{i.add}} fa-lg"></i> {{'Add Resource'|translate}}
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
