.toolbar-background {
    background-color: #8d8c8a !important;
}

.bar.bar-assertive, .assertive, .tabs-assertive > .tabs, .tabs.tabs-assertive {
    border: none;
}

.cycle a {
    color: #444 !important;
}

.tab-item:hover {
    color: white !important;
}