<table style="width:100%;">
    <thead>
    <tr>
        <th>{{'Name'|translate}}</th>
        <th>{{'Instrument'|translate}}</th>
        <th>{{'Starts'|translate}}</th>
        <th>{{'Ends'|translate}}</th>
        <th>{{'Status'|translate}}</th>
        <th style="text-align: center;">{{'Locked'|translate}}</th>
    </tr>
    </thead>
    <tr style="background:transparent;">
        <td style="width:20%;">
            <a ng-click="setDetail(item)"><i data-ng-class="'fa fa-lg fa-caret-' + (showDetail(item)? 'down':'right')"></i></a>
            <span class="name" onaftersave="setDirty()" editable-text="item.name">{{item.n}}</span>
        </td>
        <td>{{item.iName}}</td>
        <td style="width:10%;">
            <span e-init-date="false" class="editable editable-date-dqj" editable-bsdate="item.sr"
                  ng-click="togglePicker()" e-ng-click="togglePicker()"
                  e-class="form-control" e-is-open="picker.opened"
                  e-datepicker-popup="MM-dd-yyyy" e-date-format="MM-dd-yyyy"
                  e-name="date" e-ng-change="setDirty()">{{item.sr| date:"MM-dd-yyyy" || 'empty'}}</span>
        </td>
        <td style="width:10%;">
            <span e-init-date="false" class="editable editable-date-dqj" editable-bsdate="item.en"
                  ng-click="togglePicker()" e-class="form-control" e-is-open="picker.opened"
                  e-datepicker-popup="MM-dd-yyyy" e-date-format="MM-dd-yyyy"
                  e-name="date" e-ng-change="setDirty()">{{item.en| date:"MM-dd-yyyy" || 'empty'}}</span>
        </td>
        <td style="width:10%;">
            <select data-ng-model="item.st" data-ng-change="setDirty()">
                <option data-ng-selected="item.st == 'A'" value="A">{{'Active'|translate}}</option>
                <option data-ng-selected="item.st == 'I'" value="I">{{'Archived'|translate}}</option>
            </select>
        </td>
        <td style="text-align: center; width:10%;">
            <i ng-click="lockToggle(item)" class="fa fa-lg"
               data-ng-class="item.lk? 'fa-lock red' : 'fa-unlock green'"></i>
        </td>
    </tr>
    <tr style="background:transparent;" data-ng-show="showDetail(item)">
        <td colspan="6">
            <table class="perms" style="width:auto; margin:0 auto; background:#FFF;">
                <tr>
                    <th>{{'Role'|translate}}</th>
                    <th>{{'Responsible'|translate}}</th>
                    <th>{{'Create'|translate}}</th>
                    <th>{{'Read'|translate}}</th>
                    <th>{{'Update'|translate}}</th>
                    <th>{{'Delete'|translate}}</th>
                </tr>
                <tr data-ng-repeat="(role,record) in item.ops">
                    <td>{{record.name}}</td>
                    <td data-ng-repeat="p in ['X','C','R','U','D']">
                        <i ng-click="permToggle(item,role,p)"
                           data-ng-class="record.ops.indexOf(p) >= 0? 'fa fa-check green' : 'fa fa-times red'"></i>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
