<ion-view view-title='Assessment Matrix'>
    <ion-nav-buttons side="right">
        <a href="/#tab/assessments" style="font-size:1.2em;">Assessments >></a>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div style="text-align:center; margin-top: 1em;">
            <h3>{{data.currentInstrument.name}}</h3>
            <h4>Competency Summary Matrix</h4>
            <select style="margin-top:1em;" class="large" data-ng-model="data.currentInstrumentId" data-ng-change="setCurrentInstrument(data.currentInstrumentId)"
                    data-ng-options="instrument.id as instrument.name for instrument in data.instruments">
            </select>
        </div>
        <div style="overflow: auto !important;">
            <table class="matrix">
                <thead>
                <tr>
                    <th style="font-style: italic;">Assessments</th>
                    <th class="rotate" data-ng-repeat="name in getColHeaderNames() track by $index">
                        <div><span>{{name}}</span></div>
                    </th>
                    <th class="rotate">
                        <div><span style="font-weight:bold; color:#555; font-style:italic;">Averages</span></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="dataRow in data.matrix">
                    <td class="leftHeader" data-ng-class="dataRow.organizationId == -1? 'average':''">
                        <a href="/#/administrator/organization/{{dataRow.organizationId}}">{{dataRow.name}}</a>
                    </td>
                    <td data-ng-repeat="response in getRowValues(dataRow) track by $index" data-ng-class="dataRow.organizationId == -1? 'average':''">
                        <div class="matrixCircle {{data.currentInstrument.id == 1?'levelBg':'yesNoBg'}}{{response|number:0}}">{{response|number:1}}</div>
                    </td>
                    <td class="average">
                        <div class="matrixCircle {{data.currentInstrument.id == 1?'levelBg':'yesNoBg'}}{{dataRow.avgRound}}">{{dataRow.avg}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row row-responsive-sm">
            <div class="col col-40" style="text-align:right;">
                <a data-ng-click="Instruments.sectionPrevious(data.currentInstrument)"><< {{Instruments.sectionPreviousName(data.currentInstrument)}}</a>
            </div>
            <div class="col col-10" style="text-align:center;">|</div>
            <div class="col col-40" style="text-align:left;">
                <a data-ng-click="Instruments.sectionNext(data.currentInstrument)">{{Instruments.sectionNextName(data.currentInstrument)}} >></a>
            </div>
        </div>
        <div class="row row-responsive-sm">
            <div class="col" style="text-align:center;">
                <a class="button" data-ng-if="!Instruments.sectionIsAll()" data-ng-click="Instruments.sectionViewAll()">View All Competencies</a>
                <a class="button" data-ng-if="!Instruments.sectionIsSummary()" data-ng-click="Instruments.sectionViewSummary()">View Section Summary</a>
            </div>
        </div>
    </ion-content>
</ion-view>
