<ion-view view-title="{{installation.name}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>

    <ion-content has-bouncing="false" overflow-scroll="true">
        <h1>{{'System Configuration'|translate}}</h1>

        <div class="row responsive-lg">
            <div class="col col-25 card padding">
                <div class="fat-btn-wrap">
                    <div class="fat-btn-header">
                        <div class="fat-btn-icon"><i class="fa fa-calendar"></i></div>
                        <div class="fat-btn-title"><a href="/#/administrator/schedule">{{'Assessment Schedule'|translate}}</a></div>
                    </div>
                    <div class="fat-btn-desc" colspan="2">
                        {{'Review the schedule of assessments to be used within your organization.'|translate}}
                    </div>
                </div>
            </div>
            <div class="col card">
                <div class="item item-divider">
                    <a href="/#/resource/alignments">{{'Learning Resources'|translate}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{'Set up the educational resources available for your organization, along with their alignments to competencies.'|translate}}
                </div>
            </div>
            <div class="col card">
                <div class="item item-divider">
                    <a href="/#/instrument/list">{{'Competency Frameworks'|translate}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{'Define the set(s) of competencies recognized by your organization for use in assessments.'|translate}}
                </div>
            </div>
            <div class="col card">
                <div class="item item-divider">
                    <a href="/#/outcome/alignments">{{'Outcomes'|translate}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{'Review the set of general outcomes tracked by your organization, along with their alignments to competencies.'|translate}}
                </div>
            </div>
            <div class="col card">
                <div class="item item-divider">
                    <a href="/#/settings/personal">{{'Personal Preferences'|translate}}</a>
                </div>
                <div class="item item-text-wrap">
                    {{'Review your personal profile settings.'|translate}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>