<ion-view view-title="{{installation.name}} Dashboard">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content class="padding" has-bouncing="false">
        <dashboard-cycle role="'administrator'" user="user" jobtitle="Members.roleName(user)"></dashboard-cycle>
    </ion-content>
</ion-view>
