<ion-view view-title="{{installation.name}}">
    <ion-nav-buttons side="left"><a href="/#/administrator/dashboard" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>

    <ion-content has-bouncing="false" overflow-scroll="true" style="margin-top:2em;">
        <div class="row responsive-sm">
            <div class="col col-25">
                <ion-list>
                    <ion-item class="header">Your Organizations</ion-item>
                    <ion-item class="item-icon-right" ng-repeat="organization in o.getChildOrganizationsAndMine()"
                              type="item-text-wrap"
                              data-ng-click="o.setCurrentOrg(organization)"
                            >
                        {{organization.name}}
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-75">
                <ion-list>
                    <ion-item class="header">{{o.currentOrg.name}}</ion-item>
                    <ion-item ng-repeat="member in o.currentOrgMembers" style="white-space: normal;">
                        <div class="row responsive-sm">
                            <div class="col col-40" style="vertical-align:middle;">
                                <img class="border border{{member.level}}" data-ng-src="{{member.avatar}}" style="float:left; margin-right:1em;"/>

                                <div style="float:left;">
                                    <div class="name">{{member.firstName}} {{member.lastName}}</div>
                                    <div class="title">{{member.title}}</div>
                                    <div class="role">({{m.roleName(member)}})</div>
                                </div>
                            </div>
                            <div class="col col-30">
                                <micro-badge data-ng-if="m.numBadges(member) != '0'" text="m.numBadges(member)" size="'count'"></micro-badge>
                            </div>
                            <div class="col col-30">
                                <div style="text-decoration: underline;">Last evaluation</div>
                                <div>{{member.lastEvalStamp}}</div>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
