<ion-view view-title="{{installation.name}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>

    <ion-content has-bouncing="false" overflow-scroll="true" style="margin-top:2em;">
        <div class="row responsive-sm">
            <div class="col col-25">
                <ion-list>
                    <ion-item class="header">{{data.myOrg.name}} Organizations</ion-item>
                    <ion-item data-ng-class="isCurrent(organization)? 'active':''" class="item-icon-right" data-ng-repeat="organization in data.organizations"
                              type="item-text-wrap" data-ng-click="setCurrentOrg(organization)">
                        <i class="{{i.icons.organization}}"></i> {{organization.name}}
                        <i style="color:black;" class="icon ion-chevron-right icon-accessory" data-ng-show="isCurrent(organization)"></i>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-75">
                <ion-list>
                    <ion-item class="header">{{data.currentOrg.name}}</ion-item>
                    <ion-item class="gray" data-ng-if="!data.currentMembers.length"><i class="{{i.icons.loadingSpinner}}"></i> Loading...</ion-item>
                    <ion-item ng-repeat="member in data.currentMembers" class="item-icon-right item-text-wrap" href="#/manager/member/{{member.id}}">
                        <member-item member="member" m="Members"></member-item>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
