<ion-view view-title="Outcomes">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="detail">
            <h1>Outcome/Competency Alignments</h1>

            <div style="float:right; margin:0.5em;">
                <button onclick="alert('Editing not available in demonstration mode.');" class="button button-energized">
                    <i class="{{i.edit}}"></i>
                </button>
            </div>
            <h2><a href="#/manager/resource/{{data.outcome.id}}">{{data.outcome.name}}</a></h2>

            <div class="description">
                {{data.outcome.summary}}
            </div>
            <select style="margin-top:1em;" class="large" data-ng-model="data.currentInstrumentId"
                    data-ng-change="setCurrentInstrument(data.currentInstrumentId)"
                    data-ng-options="instrument.id as instrument.name for instrument in data.instruments">
            </select>

            <div class="clearfix"></div>
        </div>
        <div style="float:right; margin-right:6em; font-weight:bold;">Alignment Weights</div>
        <div class="clearfix"></div>
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="question in data.currentInstrument.questions" type="item-text-wrap">
                <div class="name">{{question.name}}</div>
                <div style="float:right; width: 10em; margin: 1em 0.5em;">
                    <div class="phrase">{{alignmentLevelPhrase(data.alignments[question.id])}}</div>
                    <div class="item range range-positive" style="background: {{(data.alignments[question.id]>0? '#F0F8FF':'#FFF')}};">
                        <input type="range" name="volume" min="0" max="3" data-ng-bind="data.alignments[question.id]"
                               data-ng-model="data.alignments[question.id]"/>

                        <div class="clearfix"></div>
                        <div><span class="phrase">{{data.alignments[question.id]}}</span></div>
                    </div>
                </div>
                <div class="description" data-ng-bind-html="question.description"></div>
            </ion-item>
        </ion-list>
        <div class="clearfix"></div>
        <button data-ng-click="saveOutcomeAlignments()" class="button button-balanced"><i class="{{i.save}} fa-lg"></i> Save Alignments</button>
    </ion-content>
</ion-view>