<ion-view view-title="{{installation.name}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>

    <ion-content has-bouncing="false" overflow-scroll="true" style="margin-top:2em;">
        <div class="row responsive-sm">
            <div class="col col-25">
                <ion-list>
                    <ion-item class="header">{{'Your Organizations'|translate}}</ion-item>
                    <ion-item data-ng-class="isCurrent(organization)? 'active':''" class="item-icon-right" ng-repeat="organization in data.organizations"
                              type="item-text-wrap"
                              data-ng-click="setCurrentOrg(organization)">
                        <i class="{{i.organization}}"></i> {{organization.name}}
                        <i style="color:black;" class="icon ion-chevron-right icon-accessory" data-ng-show="isCurrent(organization)"></i>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-75">
                <ion-list>
                    <ion-item class="header">{{data.currentOrg.name}}</ion-item>
                    <ion-item data-ng-repeat="outcome in data.orgOutcomes" style="white-space: normal;">
                        <div style="float:left;">
                            <div class="name">
                                <span class="circleNumber rubric rubricBg{{outcome.levels[data.currentOrg.id][outcome.id]}}"><i class="{{i.outcome}} fa-lg"></i></span>
                                {{outcome.number}} {{outcome.name}}
                            </div>
                            <div class="summary">{{outcome.summary}}</div>
                        </div>
                        <div style="float:right; width: 10em; margin: 0.1em;">
                            <div class="phrase">{{outcomeLevelPhrase(outcome.levels[data.currentOrg.id][outcome.id])|translate}}</div>
                            <div id="range{{outcome.id}}" class="item range {{getBarColor(outcome, data.currentOrg.id)}}">
                                <input type="range" name="outcomeLevel" min="0" max="3" data-ng-bind="outcome.levels[data.currentOrg.id][outcome.id]"
                                       data-ng-model="outcome.levels[data.currentOrg.id][outcome.id]" data-ng-change="getBarColor(outcome, data.currentOrg.id)"
                                        />

                                <div class="clearfix"></div>
                                <div><span class="phrase">{{outcome.levels[data.currentOrg.id][outcome.id]|translate}}</span></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="rubric rubric{{outcome.levels[data.currentOrg.id][outcome.id]}}">
                            {{getRubric(outcome.levels[data.currentOrg.id][outcome.id])|translate}}
                        </div>
                        <div style="font-size:0.8em; color:gray; font-style:italic;" data-ng-bind="methodMessage(outcome.method)|translate"></div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
