<ion-view view-title="Settings">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <ion-list type="card">
            <div data-ng-bind="settings"></div>
            <ion-item data-ng-repeat="setting in settings">
                <label for="setting{{setting.id}}">{{setting.n}}</label><input id="setting{{setting.id}}" value="{{setting.v}}"/>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
