<!-- Each tab's child <ion-nav-view> directive will have its own navigation history that also transitions its views in and out.-->
<ion-tabs class="tabs-icon-top tabs-assertive customerBg">

    <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/administrator/dashboard">
        <ion-nav-view name="administratorDashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="People" icon-off="{{i.members}}" icon-on="{{i.members}}" href="#/administrator/members">
        <ion-nav-view name="administratorMembers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Outcomes" icon="{{i.outcome}}" href="#/administrator/outcomes">
        <ion-nav-view name="administratorOutcomes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Alignments" href="#/administrator/alignments" icon="{{i.assessment}}">
        <ion-nav-view name="administratorAlignments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Instruments" href="#/administrator/instruments" icon="{{i.instrument}}">
        <ion-nav-view name="administratorInstruments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Resources" href="#/administrator/planning" hidden="true">
        <ion-nav-view name="administratorPlanning"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Resources" href="#/administrator/progress" hidden="true">
        <ion-nav-view name="administratorProgress"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/administrator/settings">
        <ion-nav-view name="administratorSettings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
