<!-- Each tab's child <ion-nav-view> directive will have its own navigation history that also transitions its views in and out.-->
<ion-tabs class="tabs-icon-top tabs-assertive customerBg">

    <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/administrator/dashboard">
        <ion-nav-view name="administratorDashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Alignments" icon-off="{{i.icons.evaluation}}" icon-on="{{i.icons.evaluation}}" href="#/administrator/alignments">
        <ion-nav-view name="administratorAlignments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/administrator/settings">
        <ion-nav-view name="administratorSettings"></ion-nav-view>
    </ion-tab>

</ion-tabs>
