<!-- Each tab's child <ion-nav-view> directive will have its own navigation history that also transitions its views in and out.-->
<ion-tabs class="tabs-icon-top tabs-assertive customerBg">

    <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/administrator/dashboard">
        <ion-nav-view name="administratorDashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="People" icon-off="{{i.icons.members}}" icon-on="{{i.icons.members}}" href="#/administrator/members">
        <ion-nav-view name="administratorMembers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Outcomes" icon="{{i.icons.outcome}}" href="#/administrator/outcomes">
        <ion-nav-view name="administratorOutcomes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Configuration" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/administrator/configuration">
        <ion-nav-view name="administratorConfiguration"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Resources" href="#/administrator/resources" hidden="true">
        <ion-nav-view name="administratorResources"></ion-nav-view>
    </ion-tab>

</ion-tabs>
