ion-content.dashboard.main {
  background-image: url(/assets/img/cycleWatermark.png);
  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    font-size: 1.1em;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
  }

  ion-card {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    cursor: pointer;
  }

  .dash-graph {
    height: 18vh;
  }

}

.dashboard {

  .logo img {
    width: auto;
    height: 5vh;
    float: right;
    margin: 1vmin 5vmin;
  }

  div.poweredBy a, .cycle a {
    color: #066eb7 !important;
  }

  .cycle a {
    color: #005090 !important;
    text-decoration: none;
    cursor: pointer;
  }

  div.poweredBy {
    width: 8em;
    text-align: center;
    margin: 0 auto;
    line-height: 1.0em;
    font-size: 0.45em !important;
  }

  table.cycle {
    z-index: 1;
    margin: -5vmin auto 1em auto;
    width: 80vmin;
    height: 80vmin;
    max-width: 80vmin;
    max-height: 80vmin;
    background: url(/assets/img/cycle.png) top center no-repeat;
    background-size: contain;
    font-size: 1.8vmin;
  }

  .cycle td {
    font-size: 2.2em;
    line-height: 0.9em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #336699;
  }

  .info {
    float: left;
    padding: 10px;
    color: #666;
    z-index: 99;

    .name {
      font-weight: bold;
    }
    .role {
      font-style: italic;
    }
  }
}
