ion-content.dashboard.main {
  background-image: url(/assets/img/cycleWatermark.png);
  background-position: center center;
  background-repeat: no-repeat;

  h1 {
    font-size: 1.1em;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
  }

  ion-card {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .dash-graph {
    height: 18vh;
  }

}

.dashboard {

  .logo img {
    width: auto;
    height: 5vh;
    float: right;
    margin: 1vmin 5vmin;
  }

  .info {
    float: left;
    padding: 10px;
    color: #666;
    z-index: 99;

    .name {
      font-weight: bold;
    }
    .role {
      font-style: italic;
    }
  }
}
