<div *ngIf="src.length > 0">
    <img [src]="src" [alt]="text" style="{{'height:auto; width:'+(size=='icon'? '40':'72') + 'px;' + (completed? '':'opacity:0.4;')}}"/>
    <div *ngIf="(size !== 'icon')" [innerHTML]="text|space2Break"></div>
</div>
<table *ngIf="!src" class="microBadge {{size}}">
    <tr>
        <td style="vertical-align: middle; height:100%;">
            <div *ngIf="size !== 'icon'">
                <info-badge [n]="text"></info-badge>
            </div>
        </td>
    </tr>
</table>
