<table class="table table-striped">
    <tbody>
    <tr *ngFor="let item of items" class="order" (click)="goToPage(item)">
        <td class="icon">
            <app-icon [name]="item.icon"></app-icon>
        </td>
        <td>
            <div class="name">{{item.name|translate}}</div>
            <div class="description" [innerHTML]="item.description|translate"></div>
        </td>
        <td class="list-drilldown">
            <i [class]="icon.getClass('drilldown')"></i>
        </td>
    </tr>
    </tbody>
</table>
