<div class="panel" ng-class="Members.current.ae? 'inactive':''">
    <h3>{{'Assessments to Date'|translate}}</h3>
    <assessment-list i="i" site="siteDir()" remover="remover" show-member="false" assessments="Members.current.assessments"></assessment-list>
    <div>
        <a class="button button-action button-new button-small" href="#/assessment/new/{{Members.current.id}}/-1"
           title="{{'Add a new assessment.'|translate}}">
            <i class="{{i.add}}"></i> {{'Add'|translate}}
        </a>
    </div>
</div>