<div class="panel" ng-class="Members.current.ae? 'inactive':''">
    <h3>{{'Events'|translate}}</h3>
    <table class="events items">
        <thead>
        <tr>
            <th colspan="2" style="text-align: left;">{{'Occurred'|translate}}</th>
            <th style="text-align: left;">{{'Name'|translate}}</th>
            <th style="text-align: left;">{{'Process Area'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="event in Members.current.events">
            <td><i class="{{i.event}}"></i></td>
            <td>{{event.occ|date:'short'}}</td>
            <td>{{event.n}}</td>
            <td>{{event.cat}}</td>
        </tr>
        </tbody>
    </table>
</div>
