<ion-view view-title="Professional Development" on-swipe-left="toggleProgress()" on-swipe-right="toggleProgress()" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <h2 style="margin-left:1em;">{{'Outcomes and Progress'|translate}}</h2>
        <div class="iconBar">
            <button class="button button-action" ng-click="goToProfile()">
                <i class="{{i.member}}"></i>
            </button>
            <button class="button button-action" data-ng-show="Members.current.assessments.length > 0" ng-click="goToBarProgress()">
                <i class="{{i.barChart}}"></i>
            </button>
            <button class="button button-action" data-ng-show="!roleIs([APP_ROLES.PROFESSIONAL])" ng-click="goToNotes()">
                <i class="{{i.stickyNote}}"></i>
            </button>
        </div>
        <div class="clearfix"></div>
        <div style="height:2em;"></div>
        <highchart id="progress" config="data.rptConfig"></highchart>
        <div style="text-align: center; margin:1em;">
            <button class="button button-calm" ng-click="toggleProgress()">{{data.currentSeries==0?'Outcomes View >>':'<< Assessments View'}}</button>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
