<ion-view view-title="{{data.member.firstName + ' ' + data.member.lastName}}" cache-view="false" on-swipe-left="goToNotes()">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content class="padding detail" has-bouncing="false" id="profile">
        <div class="iconBar">
            <button class="button button-action button-save button-dirty" ng-click="save()" ng-show="isDirty()">
                <i class="{{i.save}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToProgress()">
                <i class="{{i.reports}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToBarProgress()">
                <i class="{{i.barChart}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToNotes()">
                <i class="{{i.stickyNote}}"></i>
            </button>
        </div>
        <div class="row responsive-lg">
            <div class="col col-25 card">
                <div style="margin: 0 auto; text-align: center;">
                    <div>
                        <avatar site="siteDir()" sz="'large'" member-id="data.member.id" level="data.member.lv" alt="avatarAlt(data.member)"></avatar>
                    </div>
                    <div class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.fn">
                        {{ data.member.fn || ' ' }}
                    </div>
                    <div class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.ln">
                        {{ data.member.ln || ' ' }}
                    </div>
                    <div class="role" onaftersave="setDirty()" editable-select="data.member.r" e-ng-options="r.id as r.n for r in roles">
                        {{ showRole() }}
                    </div>
                </div>
                <h3 data-ng-if="data.member.badges.length > 0">Badges</h3>

                <div>
                    <div style="float:left; margin: 0.5em; text-align: center;" data-ng-repeat="badge in data.member.badges">
                        <micro-badge text="badge.title" size="'small'"></micro-badge>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h3>{{'Contact'|translate}}</h3>

                <div class="panel">
                    <label for="address">{{'address'|translate}}</label>

                    <div id="address" class="address" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.ad">
                        {{ data.member.ad || ' ' }}
                    </div>
                    <label for="mobile">{{'mobile'|translate}}</label>

                    <div id="mobile" class="phone" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.mb">
                        {{ (data.member.mb || ' ')|tel }}
                    </div>
                    <label for="phone">{{'home phone'|translate}}</label>

                    <div id="phone" class="phone" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.ph">
                        {{ (data.member.ph || ' ')|tel }}
                    </div>
                </div>
            </div>
            <div data-ng-if="data.member.isAssessible == 1" class="col padding card">
                <h3>{{'Assessments to Date'|translate}}</h3>

                <assessment-list i="i" site="siteDir()" show-member="false" assessments="data.member.assessments"></assessment-list>
                <div>
                    <a class="button button-action button-new button-small" href="#/assessment/view/n/{{data.member.id}}" title="Add a new assessment.">
                        <i class="{{i.add}}"></i> {{'Add'|translate}}
                    </a>
                </div>
            </div>
            <div data-ng-if="data.member.isAssessible == 1" class="col cpadding card">
                <h3>{{'Events'|translate}}</h3>
                <table class="events items">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: left;">{{'Occurred'|translate}}</th>
                        <th style="text-align: left;">{{'Name'|translate}}</th>
                        <th style="text-align: left;">{{'Process Area'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="event in data.member.events">
                        <td><i class="{{i.event}}"></i></td>
                        <td>{{event.occurred|date:'short'}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.cat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .events td, .events th {
                color: red;
                border: 0 solid #CCC;
                padding: 0.3em;
            }

            .events th {
                background: #CCC;
                color: #000;
            }
        </style>
    </ion-content>
</ion-view>
