<ion-view view-title="{{'Outcomes Management'|translate}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div class="row responsive-sm">
            <div class="col">
                <ion-list>
                    <ion-item class="top">
                        <list-searcher></list-searcher>
                    </ion-item>
                    <ion-item class="item-icon-right" ng-repeat="outcome in filtered = (Outcomes.list|filter:outcomeFilter)" type="item-text-wrap"
                              href="#/outcome/alignment/{{outcome.id}}">
                        <div style="float:left; margin-right:1em;">
                            <a class="button button-small button-positive"
                               href="#/outcome/view/{{outcome.id}}"><i class="{{i.edit}} fa-lg bold"></i> {{'Edit'|translate}}</a>
                            <a class="button button-small button-positive"
                               href="#/outcome/alignment/{{outcome.id}}"><i class="{{i.slider}} fa-lg bold"></i> {{'Align'|translate}}</a>
                        </div>
                        <i class="{{i.outcome}} fa-lg"></i> {{outcome.nmb}} {{outcome.n}}
                    </ion-item>
                    <ion-item>
                        <button onclick="alert('TBD');" class="button button-balanced">
                            <i class="{{i.add}} fa-lg"></i> {{'Add Outcome'|translate}}
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
