<ion-view view-title="{{installation.name}}" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <page-loader i="i" loading="data.isLoading"></page-loader>
        <div class="iconBar">
            <button class="button button-action button-save {{data.dirty?'button-dirty':''}}" ng-click="save()"><i class="{{i.save}}"></i></button>
        </div>
        <div class="clearfix"></div>
        <ion-list type="card">
            <ion-item class="top">{{data.currentOrg.n}}</ion-item>
            <ion-item ng-repeat="outcome in Outcomes.list track by $index" style="white-space: normal;">
                <outcome-item-table></outcome-item-table>
            </ion-item>
        </ion-list>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
