<ion-header xmlns="">
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Assessments</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content assessment-list">
    <ion-card *ngFor="let assessment of assessments" class="assessment" (click)="goToDetail(assessment)">
         <ion-card-content class="outer-content">
            <div class="pull-left">
                <avatar [src]="assessment.member.av" [size]="'list'"></avatar>
                {{assessment.member|namify}}
            </div>
            <div class="pull-left">
                <span class="name">{{assessment.instrument.n}}</span>, {{assessment.lm|date}}
                <br/>
                <div *ngIf="assessment.assessor.id != assessment.member.id">
                    <div class="pull-left">by </div>
                    <div class="pull-left"><avatar [src]="assessment.assessor.av" [size]="'tiny'"></avatar></div>
                        <div class="pull-left">{{assessment.assessor.fn}} {{assessment.assessor.ln}}</div>
                </div>
                <div *ngIf="assessment.assessor.id == assessment.member.id">
                    (self-evaluation)
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
