.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #333 !important;
    color: #FFF;
}

.bar.bar-assertive, .bar.bar-assertive .title {
    color: #FFF;
}

.button.button-positive.active, .button.button-positive.activated {
    border-color: #999;
    background-color: #999;
    color: #FFF;
}

.button.button-positive {
    border-color: #AAA;
    color: #FFF;
    background-color: #AAA;
}

.tabs-assertive > .tabs, .tabs.tabs-assertive, .bar.bar-assertive {
    border-color: #333;
}

.cycle a, .cycle a:visited {
    color: #777 !important;
}

a, a:visited {
    color: #d5242f !important;
}

.tab-item-active {
    color: #FFF !important;
}

.tab-item {
    color: #FFF !important;
}

.tab-item:hover {
    color: #F5846f;
}

ion-content.dashboard, ion-content.login {
    background: url("/assets/site/bayada/images/bg.png") top left no-repeat;
    background-size: cover;
}

.dashName {
    color: #d5242f;
}

table.items tr:nth-child(even) {
    background: #F0F5FF;
}

table.items tr:nth-child(odd) {
    background: #F0FFFF;
}

.item:nth-child(even) {
    background: #F8FAFF; /*#FFFFF0;*/
}

.item:nth-child(odd) {
    background: #FFF8F4; /*#F5FCFF;*/
}
