.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #243842 !important;
}

.bar.bar-assertive, .assertive {
    border: none;
}

.cycle a {
    color: #243842 !important;
}

.tab-item:hover {
    color: #c1da94 !important;
}

.tab-item-active {
    color: #8ae281;
}

ion-content.dashboard {
    background: url("/site/oncourse/images/bgOpaque.png") top left no-repeat;
    background-size: cover;
}

.tabs-assertive > .tabs, .tabs.tabs-assertive, .bar.bar-assertive {
    border-color: #243842;
}
