<ion-view view-title='Assessment Matrix'>
    <ion-nav-buttons side="right">
        <a href="/#tab/assessments" style="font-size:1.2em;">Assessments >></a>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div style="text-align:center; margin-top: 1em;">
            <h3>{{a.sectionCurrentName()}}</h3>
            <h4>Competency Summary Matrix</h4>
        </div>
        <table class="matrix">
            <thead>
            <tr>
                <th style="font-style: italic;">Most Recent<br/>Member Assessments</th>
                <th class="rotate" data-ng-repeat="name in a.getMatrixCompetencyRowHeader(e,20,a.currentSectionIdx) track by $index">
                    <div><span>{{name}}</span></div>
                </th>
                <th class="rotate">
                    <div><span>Average</span></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="member in e.members" data-ng-if="member.assessmentId != undefined">
                <td class="leftHeader">
                    <img class="avatar-tiny" data-ng-src="{{member.avatar}}" alt="">
                    <a href="/#/manager/assessment/a/{{member.assessmentId}}">{{member.name}}</a>
                </td>
                <td data-ng-repeat="memberCompetency in a.getMatrixCompetencyRowValues(member,a.currentSectionIdx)">
                    <i class="levelColor{{memberCompetency.val}} {{i.icons.levels[memberCompetency.val]}}"></i>
                </td>
                <td data-ng-init="zz = a.getMatrixRowAverage(member,true,a.currentSectionIdx)">
                    <i class="levelColor{{zz}} {{i.icons.levels[zz]}}"></i>
                </td>
            </tr>
            <tr>
                <th style="font-style: italic;">Averages</th>
                <td data-ng-repeat="avgRound in a.getMatrixColAverages(e,true,a.currentSectionIdx) track by $index">
                    <i class="levelColor{{avgRound}} {{i.icons.levels[avgRound]}}"></i>
                </td>
                <td data-ng-init="avgRound = a.getMatrixOverallAverage(e.members,true,a.currentSectionIdx)">
                    <i class="levelColor{{avgRound}} {{i.icons.levels[avgRound]}}"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row row-responsive-sm">
            <div class="col col-40" style="text-align:right;">
                <a data-ng-click="a.sectionPrevious()"><< {{a.sectionPreviousName()}}</a>
            </div>
            <div class="col col-10" style="text-align:center;">|</div>
            <div class="col col-40" style="text-align:left;">
                <a data-ng-click="a.sectionNext()">{{a.sectionNextName()}} >></a>
            </div>
        </div>
        <div class="row row-responsive-sm">
            <div class="col" style="text-align:center;">
                <a class="button" data-ng-if="!a.sectionIsAll()" data-ng-click="a.sectionViewAll()">View All Competencies</a>
                <a class="button" data-ng-if="!a.sectionIsSummary()" data-ng-click="a.sectionViewSummary()">View Section Summary</a>
            </div>
        </div>
    </ion-content>
</ion-view>
