<ion-view view-title="{{data.member.firstName}} {{data.member.lastName}}" cache-view="false" on-swipe-left="goToNotes()">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content class="padding detail" has-bouncing="false" id="profile">
        <div class="iconBar">
            <button class="button button-action button-save" ng-click="save()" ng-show="isDirty()"><i class="{{i.save}}"></i></button>
        </div>
        <div class="row row-responsive-sm">
            <div class="col col-25 padding">

                <img data-ng-src="{{data.member.avatar}}" class="avatar avatar-large">
                <div class="note noteIcon" data-ng-click="goToNotes()"></div>
                <div>
                    <span class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.firstName">
                        {{ data.member.firstName || 'empty' }}
                    </span>
                    <span class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.lastName">
                        {{ data.member.lastName || 'empty' }}
                    </span>
                </div>

                <span class="role" onaftersave="setDirty()" editable-select="data.member.roleId" e-ng-options="r.value as r.text for r in roleNames">
                    {{ showRole() }}
                </span>

                <h3 data-ng-if="data.member.badges.length > 0">Badges</h3>

                <div style="float:left; margin: 0.5em;" data-ng-repeat="badge in data.member.badges">
                    <micro-badge text="badge.title" size="'small'"></micro-badge>
                </div>
            </div>
            <div class="col col-75 padding">
                <h3>Assessments To Date
                    <a style="font-size:1.6em; margin:0.5em;" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToProgress()"><i class="{{i.reports}}"></i></a>
                    <a style="font-size:1.6em; margin:0.5em;" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToBarProgress()"><i class="{{i.barChart}}"></i></a>
                </h3>

                <div data-ng-repeat="assessment in data.member.assessments">
                    <assessment-item assessment="assessment" i="i"></assessment-item>
                </div>
                <div>
                    <a class="button button-action button-new button-small" href="#/manager/assessment/n/{{data.member.id}}" title="Add a new assessment.">
                        <i class="{{i.add}}"></i> Add
                    </a>
                </div>

                <h3>Events</h3>

                <table class="events">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: left;">Occurred</th>
                        <th style="text-align: left;">Name</th>
                        <th style="text-align: left;">Process Area</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="event in data.member.events">
                        <td><i class="{{i.event}}"></i></td>
                        <td>{{event.occurred|date:'short'}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.cat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col col-100 padding">
            </div>
        </div>
        <style>
            .events td, .events th {
                color: red;
                border: 0 solid #CCC;
                padding: 0.3em;
            }

            .events th {
                background: #CCC;
                color: #000;
            }
        </style>
    </ion-content>
</ion-view>
