<ion-view view-title="{{data.member.firstName}} {{data.member.lastName}}" on-swipe-right="goToMember()" on-swipe-left="goToNotes()">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content class="padding detail" has-bouncing="false">
        <div class="clearfix"></div>
        <h2 style="margin-left:1em;">Assessment Progress</h2>

        <div style="border: 1px solid gray; margin:0 2em 2em 2em;" data-ng-repeat="section in data.instrument.sections track by $index">
            <highchart id="memberHx_{{section.id}}" config="data.member.rptConfigHx[$index].config"></highchart>
        </div>
    </ion-content>
</ion-view>
