<ion-view view-title="{{data.member.firstName}} {{data.member.lastName}}" cache-view="false" on-swipe-left="goToNotes()">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content class="padding detail" has-bouncing="false" id="profile">
        <div class="iconBar">
            <button class="button button-action button-save button-dirty" ng-click="save()" ng-show="isDirty()">
                <i class="{{i.save}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToProgress()">
                <i class="{{i.reports}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToBarProgress()">
                <i class="{{i.barChart}}"></i>
            </button>
            <button class="button button-action" data-ng-if="data.member.assessments.length > 0" data-ng-click="goToNotes()">
                <i class="{{i.stickyNote}}"></i>
            </button>
        </div>
        <div class="row responsive-md">
            <div class="col col-25 padding card">
                <div style="margin: 0 auto; text-align: center;">
                    <div>
                        <avatar site="siteDir()" sz="'large'" member-id="data.member.id" level="data.member.level" alt="avatarAlt(data.member)"></avatar>
                    </div>
                    <div class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.firstName">
                        {{ data.member.firstName || 'empty' }}
                    </div>
                    <div class="name" onaftersave="setDirty()" edit-disabled="!canEdit()" editable-text="data.member.lastName">
                        {{ data.member.lastName || 'empty' }}
                    </div>
                    <div class="role" onaftersave="setDirty()" editable-select="data.member.roleId" e-ng-options="r.id as r.n for r in roles">
                        {{ showRole() }}
                    </div>
                </div>
                <h3 data-ng-if="data.member.badges.length > 0">Badges</h3>

                <div style="float:left; margin: 0.5em; text-align: center;" data-ng-repeat="badge in data.member.badges">
                    <micro-badge text="badge.title" size="'small'"></micro-badge>
                </div>
            </div>
            <div class="col padding card">
                <h3>Assessments to Date</h3>

                <assessment-list i="i" site="siteDir()" show-member="false" assessments="data.member.assessments"></assessment-list>
                <div>
                    <a class="button button-action button-new button-small" href="#/manager/assessment/n/{{data.member.id}}" title="Add a new assessment.">
                        <i class="{{i.add}}"></i> Add
                    </a>
                </div>
            </div>
            <div class="col padding card">
                <h3>Events</h3>
                <table class="events items">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: left;">Occurred</th>
                        <th style="text-align: left;">Name</th>
                        <th style="text-align: left;">Process Area</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="event in data.member.events">
                        <td><i class="{{i.event}}"></i></td>
                        <td>{{event.occurred|date:'short'}}</td>
                        <td>{{event.name}}</td>
                        <td>{{event.cat}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <style>
            .events td, .events th {
                color: red;
                border: 0 solid #CCC;
                padding: 0.3em;
            }

            .events th {
                background: #CCC;
                color: #000;
            }
        </style>
    </ion-content>
</ion-view>
