<ion-view view-title="Planning">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <ion-list data-ng-init="l.getAll()">
            <ion-item class="item-icon-right" ng-repeat="learningModule in data.learningModules" type="item-text-wrap" href="#/manager/resource/{{learningModule.resource.id}}">
                <div class="row">
                    <div class="col">
                        <div class="number"><i class="{{i.icons.learningModule}} fa-lg"></i> {{learningModule.resource.number}}</div>
                        <div class="title">
                            <a href="#/manager/resource/{{learningModule.resource.id}}" title="">{{learningModule.resource.name}}</a>
                        </div>
                    </div>
                    <div class="col">
                        <div style="font-weight:bold;">Open Enrollment, Start Any Time, Online</div>
                        <div>From: {{learningModule.starts|date:'medium'}} to {{learningModule.ends|date:'medium'}}</div>
                        <a class="button" href="#/manager/resource/{{learningModule.resource.id}}">Enroll</a>
                    </div>
                </div>
                <div class="row">
                    <div class="description" data-ng-bind-html="learningModule.resource.summary"></div>
                </div>
                <div class="row">
                    <div data-ng-repeat="tag in learningModule.resource.tags">
                        <div class="tag"><i class="{{i.icons.tag}}"></i> {{tag}}</div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
