<ion-view view-title='Resource' ng-cloak>
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="detail">
            <div class="content">
                <div style="margin: 1em 0.1em">
                    <div class="number"><i class="{{i.icons.resource}} fa-lg"></i> {{data.resource.number}}</div>
                    <div class="title">{{data.resource.name}}</div>
                    <div class="clearfix"></div>
                </div>
                <ng-include src="data.resource.location"></ng-include>
            </div>
        </div>
    </ion-content>
</ion-view>
