<!-- Each tab's child <ion-nav-view> directive will have its own navigation history that also transitions its views in and out.-->
<ion-tabs class="tabs-icon-top tabs-assertive customerBg">

    <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/manager/dashboard">
        <ion-nav-view name="managerDashboard"></ion-nav-view>
    </ion-tab>

    <ion-tab title="People" icon-off="{{i.members}}" icon-on="{{i.members}}" href="#/manager/members">
        <ion-nav-view name="managerMembers"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Assessments" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/manager/assessments">
        <ion-nav-view name="managerAssessments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Resources" icon-off="ion-university" icon-on="ion-university" href="#/manager/resources">
        <ion-nav-view name="managerResources"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/manager/settings">
        <ion-nav-view name="managerSettings"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Outcomes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/manager/outcomes" hidden="true">
        <ion-nav-view name="managerOutcomes"></ion-nav-view>
    </ion-tab>

</ion-tabs>
