<ion-header>
    <ion-navbar>
        <ion-title>Matrix</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h1>{{'Evaluation'|translate}} {{'Matrix'|translate}}</h1>
    <!--@todo Greg? -->
    <table>
        <thead>
        <tr>
            <td *ngFor="let hdr of matrix.hdrs">
                {{hdr}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of matrix.rows">
            <td *ngFor="let response of row.rsp">
                {{response[1]}}
            </td>
        </tr>
        </tbody>
    </table>
</ion-content>
