.yesNoBg0, .yesNoBg0:hover {
  background: #666 !important;
  color: #FFF !important;
}

.yesNoBg1, .yesNoBg1:hover {
  background: #FF0000 !important;
  color: #FFF !important;
}

.yesNoBg2, .yesNoBg2:hover {
  background: #008000 !important;
  color: #FFF !important;
}

.yesNoColor0, .yesNoColor0:hover {
  color: #AAA !important;
}

.yesNoColor1, .yesNoColor1:hover {
  color: #FF0000 !important;
}

.yesNoColor2, .yesNoColor2:hover {
  color: #008000 !important;
}

.levelBg0 {
  background: #AAA;
  color: #FFF;
}

.levelBg1 {
  background: #BB4444;
  color: #FFF;
}

.levelBg2 {
  background: #EE7A00;
  color: #FFF;
}

.levelBg3 {
  background: #FFD700;
  color: #444;
}

.levelBg4 {
  background: #6A8;
  color: #FFF;
}

.levelBg5 {
  background: #C000C0;
  color: #FFF;
}

.level3Bg0, .rubriclevel3Bg0 {
  background: #AAA;
  color: #FFF;
}

.level3Bg1, .rubriclevel3Bg1 {
  background: #BB4444;
  color: #FFF;
}

.level3Bg2, .rubriclevel3Bg2 {
  background: #7799EE;
  color: #FFF;
}

.level3Bg3, .rubriclevel3Bg3 {
  background: #6A8;
  color: #FFF;
}

.levelColor0 {
  color: #AAA;
}

.levelColor1 {
  color: #BB4444;
}

.levelColor2 {
  color: #EE7A00;
}

.levelColor3 {
  color: #FFD700;
}

.levelColor4 {
  color: #6A8;
}

.levelColor5 {
  color: #C000C0;
}
