// http://ionicframework.com/docs/v2/theming/

// App Shared Sass
// --------------------------------------------------
// CSS that should apply to the app for every mode
.avatar-tiny {
  width: 4em;
  height: auto;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

ion-card {
  padding: 8px;
  cursor: pointer;
}

ion-card ion-card-header .item {
  padding: 4px;
}

ion-card ion-card-content .list {
  margin: 0;
}

ion-card ion-card-header,
ion-card ion-card-content,
ion-card ion-card-content .list ion-item-content {
  padding: 0;
}

.tab-button-text {
  text-transform: none;
}

// App Shared Imports
// --------------------------------------------------
// These are the various page imports which make up this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/about/about";
@import "../pages/dashboard/dashboard";
@import "../pages/account/account";
@import "../pages/login/login";
@import "../pages/resource/resource";
@import "../pages/member/member";
@import "../pages/tutorial/tutorial";
