<div class="outcomeItemTable">
    <div>
        <div>
            <span class="outcomeLevel{{Outcomes.levelGrade(currLevel($index))}}"><i class="{{i.outcome}} fa-lg fa-2x"></i></span>
        </div>
        <div class="name">
            {{outcome.nmb}} {{outcome.n}}
            <div class="summary">{{outcome.sm}}</div>
            <div class="rubricWrap">
                <div class="outcomeLevel outcomeLevelBg{{Outcomes.levelGrade(currLevel($index))}}">
                    {{Outcomes.getRubric(currLevel($index))|translate}}
                </div>
            </div>
            <div class="outcomeMethod" data-ng-bind="Outcomes.methodMessage(outcome.mth)|translate"></div>
        </div>
        <div style="width:25%;">
            <div class="outcomeLevel{{Outcomes.levelGrade(currLevel($index))}} phrase">
                {{Outcomes.outcomeLevelPhrase(currLevel($index))|translate}}
            </div>
            <div id="range{{outcome.id}}"
                 class="item range {{Outcomes.setBarColor(currLevel($index), outcome.id)}} {{outcome.mth == 'D'? 'disabled':''}}">
                <input type="range" name="outcomeLevel" min="0" max="1" step="0.1" data-ng-bind="data.currentOrg.lv[$index][1]"
                       data-ng-model="data.currentOrg.lv[$index][1]" ng-change="changed(outcome)"
                       data-ng-disabled="outcome.mth =='D'"
                />
                <div class="clearfix"></div>
                <div>
                    <span class="phrase outcomeLevel{{Outcomes.levelGrade(currLevel($index))}}">{{currLevel($index)|number:2}}</span>
                </div>
            </div>
        </div>
    </div>
</div>