<ion-view view-title="{{'Dashboard'|translate}}" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div class="row responsive-sm">
            <div class="col padding panel">
                <h1 class="pull-left">{{installation.name}}</h1>
                <div class="pull-right" style="white-space: normal; line-height:1em;">
                    <a href="#/member/view/{{data.user.id}}">{{data.user.fn}} {{data.user.ln}}</a>
                    <a href="#/member/view/{{data.user.id}}">
                        <avatar site="siteDir()" member-id="data.user.id" sz="'small'" level="data.user.lv"
                                alt="avatarAlt(data.user)"></avatar>
                    </a>
                </div>
            </div>
        </div>

        <div class="row responsive-lg">
             <div class="col padding">
                <div class="panel">
                    <ion-list>
                        <ion-item class="top fat" style="background:goldenrod !important; color:#FFF !important;"><i class="{{i.recommendation}}"></i>
                            {{'Recommendations'|translate}}
                        </ion-item>
                        <ion-item ng-show="!data.planItems.length">None.</ion-item>
                        <ion-item class="item-icon-right" ng-repeat="item in recommendations = (data.planItems|filter:recommendationFilter)"
                                  type="item-text-wrap" href="#/resource/view/{{item.r}}">
                            <div class="name">
                                <i class="{{i.resource}} pad-right"></i>
                                {{item.n}}<br/>
                                <div>
                                    <assessment-recommendation-ranking range="[1,1,1,1,1]" n="item.r"></assessment-recommendation-ranking>
                                </div>
                            </div>
                            <p>
                                {{statusWord(item.s)}} on {{item.dt | date:'longDate'}} ({{item.dt|timeAgo}})
                                <micro-badge style="margin-right:3em !important;" ng-show="item.s=='C'" text="''" size="'icon'"></micro-badge>
                                <i class="icon ion-chevron-right icon-accessory" ng-show="item.s!=='C'"></i>
                            </p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="col padding">
                <div class="panel">
                    <ion-list>
                        <ion-item class="top fat" style="background:darkgreen !important; color:#FFF;"><i class="{{i.plan}}"></i> {{'Learning Plan'|translate}}
                        </ion-item>
                        <ion-item ng-show="!data.planItems.length">None.</ion-item>
                        <ion-item class="item-icon-right" ng-repeat="item in items = (data.planItems|filter:nonRecommendationFilter)" type="item-text-wrap"
                                  href="#/resource/view/{{item.r}}">
                            <div class="name">
                                <i class="{{i.resource}} pad-right"></i>
                                {{item.n}}
                            </div>
                            <p>
                                {{statusWord(item.s)}} on {{item.dt | date:'longDate'}} ({{item.dt|timeAgo}})
                                <micro-badge style="margin-right:3em !important;" ng-show="item.s=='C'" text="''" size="'icon'"></micro-badge>
                                <i class="icon ion-chevron-right icon-accessory" ng-show="item.s!=='C'"></i>
                            </p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="col padding">
                <div class="panel">
                    <ion-list>
                        <ion-item class="top fat" style="background:navy !important; color:#FFF;">
                            <i class="{{i.completed}}"></i> {{'Completed Courses'|translate}}
                        </ion-item>
                        <ion-item ng-show="!data.planItems.length">None.</ion-item>
                        <ion-item class="item-icon-right" ng-repeat="item in items = (data.planItems|filter:completedFilter)" type="item-text-wrap"
                                  href="#/resource/view/{{item.r}}">
                            <div class="name">
                                <i class="{{i.resource}} pad-right"></i>
                                {{item.n}}
                            </div>
                            <p>
                                {{statusWord(item.s)}} on {{item.dt | date:'longDate'}} ({{item.dt|timeAgo}})
                                <micro-badge style="margin-right:3em !important;" src="item.image" ng-show="item.s=='C'" text="''" size="'icon'"></micro-badge>
                                <i class="icon ion-chevron-right icon-accessory" ng-show="item.s!=='C'"></i>
                            </p>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col padding">
                <div class="panel">
                    <ion-list>
                        <ion-item class="top fat"><i class="{{i.assessment}}"></i> {{'Assessments'|translate}}</ion-item>
                        <ion-item ng-show="!data.assessments">{{'None'|translate}}</ion-item>
                        <ion-item class="item-icon-right" ng-repeat="assessment in data.assessments" type="item-text-wrap"
                                  href="#/assessment/view/{{assessment.id}}">
                            <div style="white-space: normal !important;">
                                <i class="{{i.assessment}} pad-right"></i>
                                <span class="name">{{assessmentName(assessment.ii)}}</span>
                                {{'on'|translate}} {{assessment.lm | date:'medium'}} ({{assessment.lm|timeAgo}})

                                <div ng-show="assessment.assessor">
                                    by {{assessment.assessor.fn}} {{assessment.assessor.ln}}
                                    <avatar site="siteDir()" member-id="assessment.assessor.id" sz="'tiny'" level="assessment.assessor.lv"
                                            alt="avatarAlt(dassessment.assessor)"></avatar>
                                </div>
                            </div>
                            <i class="icon ion-chevron-right icon-accessory"></i>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
