<ion-row responsive-lg class="assessmentItem" *ngIf="assessment">
    <ion-col>
        <table>
            <tr>
                <td *ngIf="showIcon">
                    <app-icon name="assessment" size="small"></app-icon>
                </td>
                <td>
                    <div style="text-align:center;" [class]="'matrixFg ' + (assessment.typ == 'NAYesNo'?'yesNoFg':'levelFg') + assessment.rank">
                        <div [ngSwitch]="assessment.editStatus">
                            <div *ngSwitchCase="L">
                                <app-icon name="locked"></app-icon>
                            </div>
                            <div *ngSwitchCase="A">
                                <app-icon name="active"></app-icon>
                            </div>
                            <div *ngSwitchCase="C">
                                <app-icon name="completed"></app-icon>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div (click)="goToAssessment(assessment)">
                        <span [hidden]="!prefix">{{prefix}}, </span>
                        <span class="name">{{assessment.instrument.name}}, {{assessment.schedule.name}}</span>
                        {{assessment.lastModified|date:'EEE'}}, {{assessment.lastModified|date:'short'}}
                    </div>
                </td>
            </tr>
        </table>
    </ion-col>
    <ion-col *ngIf="showMember">
        <avatar [id]="assessment.member.id"></avatar>
        {{assessment.member|namify:false}},
        <span class="role">{{config.roleName(assessment.member.roleId)}}</span>
    </ion-col>
    <ion-col *ngIf="assessment.assessor">
        by {{assessment.assessor|namify:false}},
        <avatar [id]="assessment.assessor.id"></avatar>
        <span class="role">{{config.roleName(assessment.assessor.roleId)}}</span>
    </ion-col>
</ion-row>
