<table class="table table-striped listing" [mfData]="assessments | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
       [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
        <th *ngIf="!instrument">
            <mfDefaultSorter [by]="sortName">{{'Instrument'|translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter [by]="sortMember">{{'Member'|translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter [by]="sortAssessor">{{'Assessor'|translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter [by]="sortModified">{{'Last Modified'|translate}}</mfDefaultSorter>
        </th>
        <th colspan="2">
            <mfDefaultSorter [by]="sortScore">{{'Competency'|translate}}</mfDefaultSorter>
        </th>
    </tr>
    <tr>
        <th [attr.colspan]="instrument? 7 : 6">
            <ion-searchbar [(ngModel)]="filterQuery" placeholder="filter"></ion-searchbar>
        </th>
    </tr>
    <tr [hidden]="!loading">
        <td [attr.colspan]="instrument? 7 : 6">
            <loading-indicator [loading]="loading"></loading-indicator>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let assessment of mf.data" class="order" (click)="goToAssessment(assessment)">
        <td *ngIf="!instrument">
            {{assessment.instrument.name}}
        </td>
        <td>
            <avatar [id]="assessment.member.id" [size]="'list'"></avatar>
            {{assessment.member|namify:false}}
        </td>
        <td class="assessor">
            <div *ngIf="assessment.assessor.id != assessment.member.id">
                <avatar [id]="assessment.assessor.id" [size]="'list'"></avatar>
                {{assessment.assessor|namify:false}}
            </div>
            <div *ngIf="assessment.assessor.id == assessment.member.id">
                (self-assessment)
            </div>
        </td>
        <td>
            {{assessment.lastModified|date:'short'}}
        </td>
        <td>
            {{assessment.rank}}
        </td>
        <td class="list-drilldown">
            <i [class]="icon.getClass('drilldown')"></i>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
