<ion-header>
    <header-bar title="{{assessment.instrument.name}}: {{assessment.member|namify:false}} {{assessment.lastModified|date:'short'}}"></header-bar>
</ion-header>

<ion-content class="outer-content assessment-detail" padding="true">
    <h1>{{instrument.n}}</h1>
    <ion-grid class="header">
        <ion-row>
            <ion-col>
                <div class="pull-left clickable">
                    <avatar (click)="goToMember(assessment.member)" [id]="assessment.member.id" [size]="'full'"></avatar>
                </div>
                <div class="pull-left clickable"><h3 (click)="goToMember(assessment.member)">{{assessment.member|namify:false}}</h3></div>
            </ion-col>
            <ion-col>
                Last modified {{assessment.lastModfied|date:'M/d/yyyy @ h:mm'}} by {{assessment.assessor|namify:false}}
                <avatar [id]="assessment.assessor.id" [size]="'tiny'"></avatar>
            </ion-col>
            <ion-col class="button-bar">
                <app-icon (click)="save()" name="save" [dirty]="dirty"></app-icon>
                <app-icon (click)="lock()" name="lock" [class]="assessment.locked? 'locked':''"></app-icon>
                <app-icon (click)="generatePDF(instrument, assessment)" name="pdf"></app-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
    <loading-indicator [hidden]="instrument?.questions?.length"></loading-indicator>
    <ion-segment>
        <ion-col *ngFor="let questionGroup of instrument.questionGroups; let groupIndex = index" (click)="goTo(groupIndex)"
                 [class]="'progressBar' + (groupIndex == slideIndex? ' selected' : '')">
            <div>{{questionGroup.tag|ellipsify:14}}</div>
        </ion-col>
    </ion-segment>
    <ion-slides #assessmentSlider [options]="{loop:false, effect:'slide', autoHeight:true, onlyExternal:true}">
        <ion-slide *ngFor="let questionGroup of instrument.questionGroups; let groupIndex = index" (swipe)="swipeEvent($event)">
            <ion-card class="question-group">
                <ion-card-header class="title" [innerHtml]="questionGroup.tag"></ion-card-header>
                <ion-card-content>
                    <div *ngFor="let question of instrument.questions; let questionIndex = index">
                        <ion-card class="question" *ngIf="(question.questionGroupId == questionGroup.id)">
                            <ion-card-header>
                                <div class="title" [innerHtml]="question.name"></div>
                                <div class="text" [innerHtml]="question.summary"></div>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-row #sliderRow [style.padding-right]="sliderPadding(question,sliderRow)+'px'"
                                         [style.padding-left]="sliderPadding(question,sliderRow)+'px'">
                                    <ion-col>
                                        <ion-range min="0" [max]="(question.type.choices.length-1)" step="1" snaps="true"
                                                   [(ngModel)]="question.response"
                                                   (ionChange)="setDirty()" [disabled]="assessment.locked">
                                        </ion-range>
                                    </ion-col>
                                </ion-row>
                                <rubric (onChange)="setDirty()" [question]="question" [enabled]="!assessment.locked"></rubric>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <canvas id="assessmentPdf" [hidden]="true"></canvas>
</ion-content>

