<ion-header xmlns="">
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Assessments</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content assessment-list">
    <loading-indicator [hidden]="assessments?.length"></loading-indicator>
    <ion-card *ngFor="let assessment of assessments" class="assessment" (click)="goToDetail(assessment)">
        <ion-card-content class="outer-content">
            <div class="pull-left">
                <avatar [id]="assessment.member.id" [size]="'list'"></avatar>
                {{assessment.member|namify:false}}
            </div>
            <div class="pull-left">
                <span class="name">{{assessment.instrument.name}}</span>, {{assessment.lastModified|date}}
                <br/>
                <div *ngIf="assessment.assessor.id != assessment.member.id">
                    <div class="pull-left">by</div>
                    <div class="pull-left">
                        <avatar [id]="assessment.assessor.id" [size]="'tiny'"></avatar>
                    </div>
                    <div class="pull-left">{{assessment.assessor.firstName}} {{assessment.assessor.lastName}}</div>
                </div>
                <div *ngIf="assessment.assessor.id == assessment.member.id">
                    (self-evaluation)
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
