slider {
    display: block;
    position: relative;
    height: 2.8em;
}

.slider0 span.pointer {
    border-top: 1em solid gray;
    color: #FFF;
}

.slider1 span.pointer {
    border-top: 1em solid #BB4444;
    color: #FFF;
}

.slider2 span.pointer {
    border-top: 1em solid #EE7A00;
    color: #FFF;
}

.slider3 span.pointer {
    border-top: 1em solid #68A;
    color: #FFF;
}

.slider4 span.pointer {
    border-top: 1em solid #6A8;
    color: #FFF;
}

.slider5 span.pointer {
    border-top: 1em solid #C000C0;
    color: #FFF;
}

.rubric0 {
    background: gray;
    color: #FFF;
}

.rubric1 {
    background: #BB4444;
    color: #FFF;
}

.rubric2 {
    background: #EE7A00;
    color: #FFF;
}

.rubric3 {
    background: #68A;
    color: #FFF;
}

.rubric4 {
    background: #6A8;
    color: #FFF;
}

.rubric5 {
    background: #C000C0;
    color: #DDD;
}

slider span.bar {
    height: 2px;
    z-index: 0;
    padding: 0;
    background: #333; /*linear-gradient(to right, gray, #BB4444, #EE7A00, #68A, #6A8, green);*/
    left: 0;
    top: 62%;
    cursor: pointer;
}

slider span.pointer {
    width: 0;
    height: 0;
    cursor: pointer;
    top: 0.5em;
    opacity: 0.8;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #444;
}

slider span.bubble.low {
    font-size: 1.2vw;
    font-weight: bold;
    padding: 0.15em;
    line-height: 1.2em;
    font-family: sans-serif;
    text-align: center;
    text-shadow: none;
    top: -0.9vw;
    left: -0.5em;
    cursor: pointer;
}

slider span.bubble.selection, slider span.bubble.limit {
    top: 25%;
}

slider span.bubble.floor, slider span.bubble.ceiling {
    color: transparent;
}

::-ms-tooltip {
    display: none;
}

.slider-container {
    width: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
