.outcomeLevel {
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0.4em;
    margin: 0.4em;
}

.outcomeLevel0 {
    color: gray !important;
}

.outcomeLevel1 {
    color: orange !important;
}

.outcomeLevel2 {
    color: #68A !important;
}

.outcomeLevel3 {
    color: darkgreen !important;
}

.outcomeLevelBg0 {
    background: gray;
    color: #FFF;
}

.outcomeLevelBg1 {
    background: orange;
    color: #FFF;
}

.outcomeLevelBg2 {
    background: #68A;
    color: #FFF;
}

.outcomeLevelBg3 {
    background: darkgreen;
    color: #FFF;
}

.rubric0 {
    background: gray;
    color: #FFF;
}

.rubric1 {
    background: #BB4444;
    color: #FFF;
}

.rubric2 {
    background: #EE7A00;
    color: #FFF;
}

.rubric3 {
    background: #68A;
    color: #FFF;
}

.rubric4 {
    background: #6A8;
    color: #FFF;
}

.rubric5 {
    background: #C000C0;
    color: #DDD;
}

::-ms-tooltip {
    display: none;
}

rzslider .rz-pointer {
    width: 2em !important;
    height: 2em !important;
    background-color: transparent !important;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #777;
    border-radius: 0 !important;
}

rzslider .rz-bar {
    background: transparent !important;
}

rzslider .rz-pointer:after {
    display: none !important;
}
