body, h1, h2, h3, h4, h5, td, th, p, div, input, textarea {
    font-family: 'Ubuntu', serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #005090;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    color: #666;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.0em;
}

textarea {
    border: 1px solid #CCC !important;
}

a:hover {
    opacity: 0.8;
    text-decoration: none !important;
}

.button-small {
    font-weight: bold;
    margin: 0.4em;
}

.popup-head {
    background: #555;
    color: #FFF;
}

.popup-title {
    color: #FFF;
}

.popup-body {
    color: #444;
}

.popError .popup-head {
    color: #FFF;
    background: #C00000;
    font-weight: bold;
}

.popError .popup-title {
    color: #FFF;
}

.popError .popup-body {
    color: #C00000;
}

.popSuccess .popup-head {
    color: #FFF;
    background: darkgreen;
    font-weight: bold;
}

.popSuccess .popup-title {
    color: #FFF;
}

.popSuccess .popup-body {
    color: darkgreen;
}

.popWarning .popup-head {
    color: #666;
    background: gold;
    font-weight: bold;
}

.popWarning .popup-title {
    color: #666;
}

.popWarning .popup-body {
    color: #666;
}

.pad-right {
    margin-right: 0.4em;
}

h3 {
    color: darkslategray;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.grayBg {
    background: gray;
    color: #FFF;
}

.green {
    color: green;
}

.red {
    color: red;
}

.greenBg {
    background: darkgreen;
    color: #FFF;
}

.redBg {
    background: red;
    color: #FFF;
}

.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #FFF !important;
}

.panel {
    background: #DDD;
    padding: 1em;
}

.card a.button, form .button, form .button-small {
    margin: 0.2em !important;
    padding: 0.6em 1em;
    background: #666;
    color: #EEE;
}

.card a.button:hover, form .button:hover, form .button-small:hover {
    color: #FFF;
}

i.logo {
    font-size: 33px !important;
    font-weight: bold !important;
    margin-right: 0.3em;
    margin-left: 0.3em;
    line-height: 33px;
}

.colorFacebook {
    color: #FFF;
    background: #3b5998;
}

.colorGoogle {
    color: #FFF;
    background: #dd4b39;
}

.colorTwitter {
    color: #FFF;
    background: #55ACEE;
}

.tag {
    color: #468;
    font-size: 0.9em;
    margin: 0.6em;
}

::-ms-tooltip {
    display: none;
}

.bar-assertive.customerBg .title {
    font-size: 1.4em;
}

.avatar-large {
    width: 14em;
    height: 14em;
}

.avatar-medium {
    width: 10em;
    height: 10em;
}

.avatar-tiny, ion-item img.avatar.avatar-tiny {
    width: 2.4em !important;
    height: 2.4em !important;
    border-radius: 5em;
    vertical-align: middle;
}

.avatar-small {
    max-width: 80px !important;
    max-height: 80px !important;
    width: 6em !important;
    height: 6em !important;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 5em;
}

h1 {
    margin-top: 0.3em !important;
}

ion-header-bar a {
    color: #FFF !important;
}

ion-item img.avatar {
    max-width: 80px !important;
    max-height: 80px !important;
    width: 7.5em !important;
    height: 7.5em !important;
    float: left;
    margin-right: 1em;
    vertical-align: middle;
    border-radius: 50%;
}

ion-item:hover .selector {
    background: #EEE;
}

ion-item .listIcon {
    float: left;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: bold;
    border: 2px solid #777;
    color: #777;
    border-radius: 0.3em;
}

ion-item.item-complex {
    padding-top: 1em;
    padding-bottom: 1em;
}

.list div.text {
    font-size: 1.4vw;
    font-style: italic;
    font-weight: bold;
    line-height: 1.5vw;
    vertical-align: middle;
}

.assessmentItem > div > div {
    font-size: 90% !important;
    margin: 0.5em !important;
}

.assessment .number {
    font-weight: bold;
    padding: 0.4em !important;
}

.assessment .description {
    margin: 0.5em;
}

.assessment .button-bar {
    float: right;
    margin: 0.5em;
}

.detail .title {
    font-size: 1.4em !important;
    line-height: 1.4em !important;
    font-weight: normal;
}

.detail .name {
    font-size: 1.5em;
    line-height: 1.5em !important;
    font-weight: bold;
    color: darkslategray;
}

.detail .role {
    font-size: 1.1em;
    line-height: 1.1em !important;
    font-weight: normal;
}

.detail .row {
    margin: 0 auto;
}

ion-item {
    cursor: pointer;
    text-wrap: normal !important;
    white-space: normal !important;
}

ion-item .name {
    font-size: 1.0em;
    font-weight: bold;
    font-style: italic;
    white-space: normal;
}

ion-item .title {
    font-size: 1.0em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

ion-item .role {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    white-space: normal;
}

ion-item .stamp {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

.detail {
    padding: 1em;
}

.detail .title {
    font-size: 1.4em;
}

.detail .summary {
    padding: 1em;
}

.list div.number, .detail div.number {
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF;
    background: #777;
    padding: 0.8em;
    border-radius: 4em;
    float: left;
    margin-right: 1em;
}

.list div.description {
    color: #444;
    white-space: normal;
}

.list div.description ul {
    margin: 0.4em 0;
}

.list div.description li {
    list-style-type: square;
    margin-left: 2em;
    font-size: 0.8em;
}

.list slider {
    float: right;
}

.assessment slider {
    float: none !important;
}

.recommendationsPane, .assessmentNameCard {
    min-height: 17em;
    max-height: 17em;
    height: 17em;
}

.recommendationsPane {
    overflow-y: auto;
    border-radius: 0.2em;
}

.recommendationsPane .item {
    background: #EEFFEE;
    padding: 0.8em;
}

ion-content {
    padding: 1em;
}

div.poweredBy a, .cycle a {
    color: #066eb7 !important;
}

.cycle a {
    color: #005090 !important;
}

div.poweredBy {
    width: 8em;
    text-align: center;
    margin: 0 auto;
    line-height: 1.0em;
    font-size: 0.45em !important;
}

table.cycle {
    margin: 1em auto;
    width: 600px;
    height: 600px;
    max-width: 80vmin;
    max-height: 80vmin;
    background: url(../img/cycle2.png) top center no-repeat;
    background-size: contain;
    font-size: 1.8vmin;
}

.cycle td {
    font-size: 2.4em;
    line-height: 0.9em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #336699;
}

.recommendationRanking {
    color: darkgreen;
}

.resourceDoc {
    font-size: 1.3em;
    font-weight: bold;
}

.resource li {
    list-style-type: circle;
    margin-left: 3em;
}

.resource div.text {
    text-align: left;
}

.resource div.spacer {
    height: 2em;
}

.microBadge {
    background: transparent url(../img/badge.png) center center no-repeat;
    background-size: contain;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 0.5em;
}

.microBadge.count {
    height: 6vmin;
    width: 6vmin;
    min-height: 30px;
    min-width: 30px;
    max-height: 60px;
    max-width: 60px;
    font-size: 1.0em;
    line-height: 0.9em;
}

.microBadge.icon {
    height: 5vmin;
    width: 5vmin;
    font-size: 1.3vmin;
    line-height: 1.3vmin;
    display: inline;
}

.microBadge.small {
    height: 10vmin;
    width: 10vmin;
    font-size: 1.3vmin;
    line-height: 1.3vmin;
}

.microBadge.large {
    height: 15vmin;
    width: 15vmin;
    font-size: 2vmin;
    line-height: 2vmin;
}

.levelBadge i, .outcomeLevel i {
    font-size: 1.5em;
    font-weight: bold;
    width: 3em;
}

.levelBadge {
    padding: 0.4em;
    border-radius: 0.3em;
    font-size: 0.8em !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.5em;
    vertical-align: middle;
    float: left;
    margin: 0.4em;
    max-width: 50vmin;
    white-space: normal !important;
}

.level {
    font-size: 1.2em !important;
    font-weight: bold;
}

.levelName {
    padding: 0.4em 0.4em;
    border-radius: 1em;
    margin: 0.1em;
    font-size: 0.7em;
    line-height: 0.9em;
    height: auto;
    white-space: normal;
    text-align: center;
}

.button {
    background: #DDD;
}

.button.toggle.off {
    color: #999;
}

.yesNoBg0, .yesNoBg0:hover {
    background: #666;
    color: #FFF;
}

.yesNoBg1, .yesNoBg1:hover {
    background: #FF0000;
    color: #FFF;
}

.yesNoBg2, .yesNoBg2:hover {
    background: #008000;
    color: #FFF;
}

.yesNoColor0, .yesNoColor0:hover {
    color: #AAA;
}

.yesNoColor1, .yesNoColor1:hover {
    color: #FF0000;
}

.yesNoColor2, .yesNoColor2:hover {
    color: #008000;
}

.levelBg0 {
    background: #AAA;
    color: #FFF;
}

.levelBg1 {
    background: #BB4444;
    color: #FFF;
}

.levelBg2 {
    background: #EE7A00;
    color: #FFF;
}

.levelBg3 {
    background: #FFD700;
    color: #444;
}

.levelBg4 {
    background: #6A8;
    color: #FFF;
}

.levelBg5 {
    background: #C000C0;
    color: #FFF;
}

.levelColor0 {
    color: #AAA;
}

.levelColor1 {
    color: #BB4444;
}

.levelColor2 {
    color: #EE7A00;
}

.levelColor3 {
    color: #FFD700;
}

.levelColor4 {
    color: #6A8;
}

.levelColor5 {
    color: #C000C0;
}

select {
    cursor: pointer;
}

select.large {
    font-size: 3.4vmin;
    background: #CCC;
}

outcome-level-tag {
    float: left;
}

.circleNumber {
    font-size: 1.4em;
    padding: 0.8em 1.3em;
    border: none;
    border-radius: 5em;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.matrixCircle, .matrixCircle a {
    font-size: 1.4vmin;
    padding: 0.2vmin 0.9vmin;
    border-radius: 3vmin;
    margin: 0;
    text-decoration: none;
}

.matrixF, .matrixFg a {
}

.matrix td.average {
    background: #F5F5F5;
    color: #555;
    font-style: italic;
    text-align: center;
}

.average .matrixCircle {
    font-style: normal !important;
}

.border0 {
    border: 4px solid #AAA;
}

.border1 {
    border: 4px solid #BB4444;
}

.border2 {
    border: 4px solid #EE7A00;
}

.border3 {
    border: 4px solid gold;
}

.border4 {
    border: 4px solid #6A8;
}

.border5 {
    border: 4px solid #C00080;
}

.levelColor0 {
    color: #AAA;
}

.levelColor1 {
    color: #BB4444;
}

.levelColor2 {
    color: #EE7A00;
}

.levelColor3 {
    color: #CfB700;
}

.levelColor4 {
    color: #6A8;
}

.levelColor5 {
    color: #C00080;
}

.assessment .question {
    font-size: 1.0em;
}

.assessment .response .viewOnly {
    font-weight: bold;
    padding: 1em;
    display: inline-block;
    font-size: 1vw;
    float: right;
}

.assessment .rubric {
    font-weight: normal;
    font-style: italic;
    color: #000;
}

.assessment .rubric > div {
    display: table-cell;
    padding: 0;
    border: 2px solid transparent;
}

.assessment .rubric > div > div {
    padding: 0.5em 1em;
    display: block;
    text-align: center;
    font-weight: bold;
}

.assessment .rubric > div p {
    white-space: normal !important;
    padding: 0.5em 1em;
}

.assessment .rubric .active {
    font-weight: bold;
}

.assessment .rubric .active p {
    opacity: 1;
    color: #000;
    line-height: 1.1em;
}

.assessment .rubric .inactive p {
    opacity: 0.90;
    color: #666;
}

.assessment .rubric .active > div {
    opacity: 1;
    color: #FFF;
}

.assessment .rubric .inactive > div {
    opacity: 0.75;
    color: #AAA;
}

.assessment .rubric .active {
    opacity: 1;
    color: #000;
}

.assessment .rubric .inactive {
    opacity: 0.85;
    color: #666;
}

.assessment .item p {
    font-size: 100%;
}

.LIKERT_0 {
    background: #AAA;
    color: #FFF;
}

.LIKERT_1 {
    background: #BB4444;
    color: #FFF;
}

.LIKERT_2 {
    background: #EE7A00;
    color: #FFF;
}

.LIKERT_3 {
    background: #CfB700;
    color: #FFF;
}

.LIKERT_4 {
    background: #6A8;
    color: #FFF;
}

.LIKERT_5 {
    background: #C00080;
    color: #FFF;
}

.YESNO_0 {
    background: gray;
    color: #FFF;
}

.YESNO_1 {
    background: #FF0000;
    color: #FFF;
}

.YESNO_2 {
    background: #008000;
    color: #FFF;
}

.matrix {
    margin: 4em auto 1em auto;
    padding-right: 5em;
}

.matrix tbody tr:nth-child(even) {
    background: #EFE;
}

.matrix td {
    font-size: 1.8vmin;
    padding: 0;
    border: 1px solid #AAA;
    text-align: center;
    vertical-align: middle;
}

.matrix table table {
    border: none;
    padding: 0;
    margin: 0;
}

.matrix td {
    padding: 0.3em;
}

.matrix .leftHeader .avatar-tiny {
    vertical-align: middle;
    margin: 0.1em 0.3em 0.1em 0.1em;
}

.matrix .leftHeader {
    font-weight: bold;
    text-align: left;
}

#matrixButtons .button {
    margin-bottom: 0.2em;
    width: 14em;
}

th.rotate {
    height: 5.4em;
    text-overflow-ellipsis: ellipsis;
    white-space: nowrap;
    border: none;
}

th.rotate > div {
    -webkit-transform: translate(1.0em, 3.4em) rotate(315deg);
    transform: translate(1.0em, 3.4em) rotate(315deg);
    width: 1.4em;
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
}

.score {
    color: #FFF;
    line-height: 1.1vw;
    font-size: 1.0vw;
    vertical-align: middle;
}

.score .logo {
    font-size: 1.8em !important;
}

progress {
    margin: 1px;
}

.progressWrap.selected {
    background: #999;
}

.progressWrap {
    margin-right: 2em;
    text-align: center;
    float: left;
}

.progressWrap a, .progressWrap a:visited {
    font-size: 0.8em;
    text-decoration: none !important;
    color: #444;
}

ion-item.header {
    background: #444;
    font-weight: bold;
    color: #FFF;
}

ion-item li, .ta-editor .ta-bind li {
    font-size: 0.9em;
    font-weight: bold;
    color: #999;
    margin-left: 3em;
    list-style-type: square;
}

ion-item .phrase {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #666;
}

ion-item.top {
    color: #FFF !important;
    background: #666 !important;
    padding: 0.3em 0.6em !important;
    border: 1px solid #666;
    border-radius: 3px 3px 0 0;
}

ion-item.top h2 {
    padding: 0.4em;
    color: #FFF;
    font-weight: bold;
}

ion-item.top.fat {
    padding: 2em;
    font-size: 1.4em;
    border-radius: 0.5em 0.5em 0 0 !important;
}

.fadein, .fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove, .fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add, .fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56vh;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    max-width: 853px;
    max-height: 480px;
}

p.comments {
    font-style: italic;
    color: darkslategray;
}

.help ul {
    counter-reset: item;
    font-size: 2em;
    line-height: 2.0em;
    font-weight: bold;
}

.help ul p {
    font-size: 0.7em;
    font-weight: normal;
    line-height: 1.1em;
    color: #444;
}

.help ul > li {
    counter-increment: item;
}

.help ul > li:before {
    content: counter(item) " ";
}

.help ul > li > ul {
    counter-reset: subitem;
    font-size: 1.6em;
    line-height: 2.0em;
    font-weight: normal;
}

.help ul > li > ul > li {
    counter-increment: subitem;
}

.help ul > li > ul > li:before {
    content: counter(item) "." counter(subitem) " ";
}

.button-action {
    font-weight: bold;
    margin: 0.2em 0.1em;
    font-size: 2em;
    border-radius: 0.2em;
    background: #444;
    color: #FFF;
}

.button-action.button-general {
    background: #444;
    color: #FFF;
}

.button-action.button-small {
    font-size: 1em;
    padding: 0.1em 0.3em;
    color: #FFF;
}

.button-action:hover {
    opacity: 0.7;
    color: #FFF;
}

.button-right, .button-left {
    background: #AAA;
}

.button-unlock:hover {
    background: red;
}

.button-lock:hover, .button-edit:hover {
    background: #cda700;
}

.button-pdf:hover {
    background: darkblue;
}

.button-save:hover, .button-new:hover {
    background: darkgreen;
}

.button-dirty {
    background: #cda700 !important;
}

.button-clean {
    background: darkgreen !important;
}

.button-remove:hover {
    background: darkred;
}

table.assessmentItem td {
    padding: 0.2em;
}

#profile table.assessmentItem tr:hover {
    background: #EEE;
}

.dashName {
    font-weight: bold;
    color: darkslategray;
}

.dashJob {
    font-weight: normal;
    color: gray;
}

.dashRole {
    font-style: italic;
    font-weight: normal;
    color: gray;
}

.item-complex.item-icon-right .item-content {
    /**
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    **/
}

.success {
    color: darkgreen;
    background: #EEFFEE;
    border: 1px solid darkgreen;
    padding: 0.5em;
    border-radius: 1em;
}

.error {
    color: red;
    border: 1px solid red;
    padding: 0.5em;
    background: #FFEEEE;
    border-radius: 1em;
}

.noteTools {
    float: right;
}

.noteTool {
    margin: 0.2em;
    color: #666;
}

#notes .item {
    border: none !important;
}

.note {
    position: relative;
    padding: 1em 1.5em;
    margin: 2em auto;
    color: #444;
    background: #FFEF00 !important;
    overflow: hidden;
}

.note textarea {
    background: transparent;
    border: none;
}

.noteIcon {
    cursor: pointer;
    float: none;
    border: none;
    width: 4em;
    height: 4em;
    font-size: 0.9em;
    font-style: italic;
    margin: 0.5em;
    display: inline;
}

.note.important {
    background: lightpink !important;
    border-color: #fff #fff pink pink;
}

.panel .note.important:before {
    border-color: #DDD #DDD pink pink;
}

.note.okay {
    background: #cfc !important;
    border-color: #fff #fff #6A6 #6A6;
}

.panel .note.okay:before {
    border-color: #DDD #DDD #6A6 #6A6;
}

.panel .note:before {
    border-color: #DDD #DDD #E9BF00 #E9BF00;
}

.note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: #fff #fff #E9BF00 #E9BF00;
    background: #E9BF00;
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
}

.note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}

.note.rounded:before {
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

.iconBar {
    float: right;
    margin-right: 0.4em;
}

table.items {
    border: 1px solid #AAA;
    width: 100%;
}

table.items td, table.items th {
    padding: 0.5em;
}

table.items th {
    font-weight: bold;
    background: #555;
    color: #FFF;
}

table.items tr:nth-child(even) {
    background: #F0F5FF;
}

table.items tr:nth-child(odd) {
    background: #FFFFE0;
}

.instrumentNavBtn {
    width: 280px;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding: 0.2em;
    font-weight: bold;
    font-size: 1.1em;
}

.instrumentNavBtn a, .instrumentNavBtn a:visited, .instrumentNavBtn a:hover {
    color: #444;
    text-decoration: none;
    width: 100%;
    font-size: 1.2em;
}

.instrumentNavBtn a:hover {
    color: #888;
}

.hiddenPanel {
    padding: 1em;
    display: none;
}

.nextToggler {
    cursor: pointer;
}

#matrix {
    border-collapse: collapse;
}

#matrix td {
    border: 1px solid gray;
    padding: 0.4em;
    font-size: 0.9em;
    margin: 0;
    font-weight: normal;
}

#matrix td.typeV {
    background: #FFF;
}

#matrix td.typeS {
    background: #DFDFDF;
    font-weight: bold;
}

#matrix td.typeC {
    background: #CCC;
    font-weight: bold;
}

#matrix td.typeCS {
    background: #CCC;
    font-weight: bold;
}

#matrix td.typeR {
    background: #CCC;
    font-weight: bold;
}

#matrix td.typeRC {
    background: #CCC;
    font-weight: bold;
}

#loginPanel input {
    margin: 1em 0;
    border-radius: 2px;
    padding: 0.5em;
    width: 100%;
}

#assessments table tr {
    background: none !important;
    border: none !important;
}

a.item-content {
    background: transparent !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#assessments table td, #assessments table {
    border: none !important;
}

.item:nth-child(even) {
    background: #F4F4F4; /*#FFFFF0;*/
}

.item:nth-child(odd) {
    background: #FCFDFC; /*#F5FCFF;*/
}

.role {
    font-style: italic;
}

.scoreTag {
    font-size: 1.0em;
    padding: 0.3em;
    text-align: center;
    width: 140px;
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
}

table.perms td {
    text-align: center;
    color: green;
}

table.perms th {
    text-align: center;
}

table.perms td:nth-child(1) {
    text-align: left;
    color: black;
}

table.perms th:nth-child(1) {
    text-align: left;
}

.editable-date-dqj {
    text-decoration: none !important;
    color: #428bca !important;
    border-bottom: dashed 1px #428bca !important;
    background: transparent !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    cursor: pointer;
    max-width: 6em;
    text-align: center;
}

.tab-item:hover {
    color: yellow;
}

.tab-item-active {
    color: yellow;
}

.fat-btn-wrap {
    margin: 1em auto;
    width: auto;
}

.fat-btn-header {
    display: table-row;
    vertical-align: middle;
}

.fat-btn-icon {
    display: table-cell;
    font-size: 3em;
    padding-right: 0.4em;
    vertical-align: middle;
    color: darkslategray;
}

.fat-btn-title a {
    text-decoration: none;
    white-space: normal;
    font-weight: bold;
}

.fat-btn-title {
    vertical-align: middle;
    display: table-cell;
    font-size: 1.4em;
    line-height: 1.4em;
    padding-right: 1em;
}

.fat-btn-desc {
    font-size: 1.0em;
    line-height: 1.0em;
    font-style: italic;
    padding: 1em;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.ta-toolbar.btn-toolbar {
    background: #F5F8FF;
    border: 1px solid #999;
    padding: 0.2em;
}

.outcomeItemTable {
    display: table;
    width: 100%;
}

.outcomeItemTable > div {
    display: table-row;
    vertical-align: top;
}

.outcomeItemTable > div > div {
    display: table-cell;
    padding: 0 0.4em;
    vertical-align: top;
}

.outcomeItemTable .rubric {
    padding: 0.3em;
    border-radius: 4px;
}

.outcomeItemTable .range {
    background: #999 !important;
}

.outcomeItemTable .range.disabled {
    background: transparent !important;
    border: none;
    outline: none;
    opacity: 0.5;
}

.outcomeItemTable .range > div > span.phrase {
    color: #FFF !important;
}

.outcomeItemTable .outcomeMethod {
    font-size: 0.8em;
    color: gray;
    font-style: italic;
    margin-top: 1em;
}

input[type="search"] {
    padding: 0.1em 1em;
    width: 16em;
}

list-searcher {
    color: #FFF;
}

.itemCount {
    margin: 0 1em;
    float: right;
    color: #FFF;
}

.remover {
    color: gray;
    margin: 0 0.4em;
}

.repeat-item.ng-enter, .repeat-item.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.repeat-item.ng-enter, .repeat-item.ng-leave.ng-leave-active {
    opacity: 0;

}

.repeat-item.ng-leave, .repeat-item.ng-enter.ng-enter-active {
    opacity: 1;

}

@keyframes openspace {
    to {
        height: auto
    }
}

.assessmentItem tr.ng-leave {
    -webkit-animation: removed-item-animation .6s cubic-bezier(.55, -0.04, .91, .94) forwards;
    -o-animation: removed-item-animation .6s cubic-bezier(.55, -0.04, .91, .94) forwards;
    animation: removed-item-animation .6s cubic-bezier(.55, -0.04, .91, .94) forwards
}

@keyframes removed-item-animation {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@-webkit-keyframes new-item-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes new-item-animation {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes openspace {
    to {
        height: auto
    }
}

@-o-keyframes openspace {
    to {
        height: auto
    }
}

@-webkit-keyframes restored-item-animation {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes restored-item-animation {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0)
    }

    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes removed-item-animation {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@-o-keyframes removed-item-animation {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1)
    }

    to {
        -o-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

.item-input-wrapper {
    color: #000;
}

.itemInactive {
    border: 1px dashed red !important;
}

.itemInactiveText {
    color: red;
}

.itemInactive .name, .itemInactive .role {
    text-decoration: line-through !important;
}

.panel.inactive {
    background: #FFEEEE;
}

.events td, .events th {
    color: red;
    border: 0 solid #CCC;
    padding: 0.3em;
}

.events th {
    background: #CCC;
    color: #000;
}

.outcomeLevel {
    border: 1px solid #999;
    border-radius: 0.3em;
    font-size: 0.9em;
    font-weight: normal;
    padding: 0.4em;
    margin: 0.4em;
}

.outcomeLevel0 {
    color: gray !important;
}

.outcomeLevel1 {
    color: orange !important;
}

.outcomeLevel2 {
    color: #68A !important;
}

.outcomeLevel3 {
    color: darkgreen !important;
}

.outcomeLevelBg0 {
    background: gray;
    color: #FFF;
}

.outcomeLevelBg1 {
    background: orange;
    color: #FFF;
}

.outcomeLevelBg2 {
    background: #68A;
    color: #FFF;
}

.outcomeLevelBg3 {
    background: darkgreen;
    color: #FFF;
}

.rubric0 {
    background: gray;
    color: #FFF;
}

.rubric1 {
    background: #BB4444;
    color: #FFF;
}

.rubric2 {
    background: #EE7A00;
    color: #FFF;
}

.rubric3 {
    background: #68A;
    color: #FFF;
}

.rubric4 {
    background: #6A8;
    color: #FFF;
}

.rubric5 {
    background: #C000C0;
    color: #DDD;
}

::-ms-tooltip {
    display: none;
}

rzslider .rz-pointer {
    width: 2em !important;
    height: 2em !important;
    background-color: transparent !important;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid #777;
    border-radius: 0 !important;
}

rzslider .rz-bar {
    background: transparent !important;
}

.infoBadge {
    font-size: 90%;
    padding: 0.1em 0.5em;
    color: white;
    background: navy;
    border-radius: 1em;
}

rzslider .rz-pointer:after {
    display: none !important;
}
