a {
    cursor: pointer;
    text-decoration: none;
    color: #005090;
}

a:hover {
    text-decoration: underline;
}

h3 {
    color: darkslategray;
}

.gray {
    background: gray;
    color: #FFF;
}

.green {
    background: darkgreen;
    color: #FFF;
}

.red {
    background: red;
    color: #FFF;
}

.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #FFF !important;
}

.card a.button, form .button, form .button-small {
    margin: 0.2em !important;
}

i.logo {
    font-size: 34px !important;
    font-weight: bold !important;
    margin-right: 0.5em;
}

.colorFacebook {
    color: #FFF;
    background: #3b5998;
}

.colorGoogle {
    color: #FFF;
    background: #dd4b39;
}

.colorTwitter {
    color: #FFF;
    background: #55ACEE;
}

.tag {
    color: #468;
    font-size: 0.9em;
    margin: 0.6em;
}

::-ms-tooltip {
    display: none;
}

.bar-assertive.customerBg .title {
    font-size: 1.4em;
}

ion-header-bar a {
    color: #FFF !important;
}

ion-list img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0.5em;
}

.list .avatar img {
    max-width: 80px !important;
    max-height: 80px !important;
    width: 80px !important;
    height: 80px !important;
    float: left;
    margin-right: 1em;
}

.avatar-large {
    width: 14vmin;
    height: 14vmin;
}

.avatar-tiny {
    width: 2em;
    height: 2em;
}

.avatar-small, .border {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 5em;
    border: 3px solid #c70002;
}

h1 {
    margin-top: 0.3em !important;
}

.item-content, .item {
}

ion-item .listIcon {
    float: left;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: bold;
    border: 2px solid #777;
    color: #777;
    padding: 0.4em;
    border-radius: 0.3em;
}

.list div.text {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.4em;
    vertical-align: middle;
}

.assessment .text {
    margin-top: 0.3em;
}

.detail .title {
    font-size: 3vmin !important;
    line-height: 3vmin !important;
    font-weight: normal;
}

.detail .name {
    font-size: 4vmin;
    line-height: 3.2vmin !important;
    font-weight: bold;
    color: darkslategray;
}

.detail .role {
    font-size: 2.4vmin;
    line-height: 3.5vmin !important;
    font-weight: normal;
}

.detail .row {
    margin: 1em;
}

ion-item {
    cursor: pointer;
    text-wrap: normal !important;
    white-space: normal !important;
}

ion-item .name {
    font-size: 1.0em;
    font-weight: bold;
    font-style: italic;
    white-space: normal;
}

ion-item .title {
    font-size: 1.0em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

ion-item .role {
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    white-space: normal;
}

ion-item .stamp {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

.detail {
    padding: 1em;
}

.detail .title {
    font-size: 1.4em;
}

.detail .summary {
    padding: 1em;
}

.list div.number, .detail div.number {
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF;
    background: #777;
    padding: 0.8em;
    border-radius: 4em;
    float: left;
    margin-right: 1em;
}

.list div.description {
    color: #444;
    white-space: normal;
    padding: 0.3em 0;
}

.list div.description ul {
    margin: 0.4em 0;
}

.list div.description li {
    list-style-type: square;
    margin-left: 2em;
    font-size: 0.8em;
}

.list slider {
    float: right;
}

.recommendationsPane {
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid #999;
    border-radius: 0.2em;
}

.recommendationsPane .item {
    background: #EEFFEE;
    font-size: max(1em, 2.0vmin);;
}

ion-content {
    padding: 1em;
}

div.poweredBy a, .cycle a {
    color: #066eb7 !important;
}

.cycle a {
    color: #005090 !important;
}

div.poweredBy {
    width: 8em;
    text-align: center;
    margin: 0 auto;
    line-height: 1.0em;
    font-size: 0.45em !important;
}

table.cycle {
    margin: 1em auto;
    width: 600px;
    height: 600px;
    max-width: 80vmin;
    max-height: 80vmin;
    background: url(../img/cycle2.png) top center no-repeat;
    background-size: contain;
    font-size: 1.8vmin;
}

.cycle td {
    font-size: 2.4em;
    line-height: 0.9em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #336699;
}

.recommendationRanking {
    color: darkgreen;
}

.resourceDoc {
    font-size: 1.3em;
    font-weight: bold;
}

.microBadge {
    background: transparent url(../img/badge.png) center center no-repeat;
    background-size: contain;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 0.5em;
}

.microBadge.count {
    height: 5vmin;
    width: 5vmin;
    font-size: 1.0em;
    line-height: 0.9em;
}

.microBadge.small {
    height: 10vmin;
    width: 10vmin;
    font-size: 1.3vmin;
    line-height: 1.3vmin;
}

.microBadge.large {
    height: 15vmin;
    width: 15vmin;
    font-size: 2vmin;
    line-height: 2vmin;
}

.levelBadge i, .outcomeLevel i {
    font-size: 1.5em;
    font-weight: bold;
    width: 3em;
}

.levelBadge, .outcomeLevel {
    padding: 0.4em;
    border-radius: 0.3em;
    font-size: 0.8em !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.5em;
    vertical-align: middle;
    float: left;
    margin: 0.4em;
    max-width: 50vmin;
    white-space: normal !important;
}

.outcomeLevel {
    border: 1px solid darkslategray;
    border-radius: 0.5em;
}

.level {
    font-size: 1.2em !important;
    font-weight: bold;
}

.levelName {
    padding: 0.4em 0.4em;
    border-radius: 1em;
    margin: 0.1em;
    font-size: 0.7em;
    line-height: 0.9em;
    height: auto;
    white-space: normal;
    text-align: center;
}

.levelBg0 {
    background: #AAA;
    color: #FFF;
}

.levelBg1 {
    background: #BB4444;
    color: #FFF;
}

.levelBg2 {
    background: #EE7A00;
    color: #FFF;
}

.levelBg3 {
    background: gold;
    color: #777;
}

.levelBg4 {
    background: #6A8;
    color: #FFF;
}

.levelBg5 {
    background: green;
    color: #FFF;
}
select {
    cursor: pointer;
}
select.large {
    font-size: 3.4vmin;
    background: #CCC;
}
outcome-level-tag {
    float: left;
}

.circleNumber {
    font-size: 2vmin;
    padding: 0.8vmin 1.3vmin;
    border-radius: 5vmin;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.matrixCircle {
    font-size: 1.4vmin;
    padding: 0.2vmin 0.9vmin;
    border-radius: 3vmin;
    margin: 0;
}

.outcomeLevelBg0 {
    background: #EEE;
    color: #FFF;
}

.outcomeLevelBg1 {
    background: #BBB;
    color: #444;
}

.outcomeLevelBg2 {
    background: #999;
    color: #444;
}

.outcomeLevelBg3 {
    background: #666;
    color: #FFF;
}

.outcomeLevelBg4 {
    background: #333;
    color: #FFF;
}

.outcomeLevelBg5 {
    background: #000;
    color: #FFF;
}

.outcomeLevelText0 {
    color: #EEE;
}

.outcomeLevelText1 {
    color: #BBB;
}

.outcomeLevelText2 {
    color: #999;
}

.outcomeLevelText3 {
    color: #666;
}

.outcomeLevelText4 {
    color: #333;
}

.outcomeLevelText5 {
    color: #000;
}

.border0 {
    border: 4px solid #AAA;
}

.border1 {
    border: 4px solid #BB4444;
}

.border2 {
    border: 4px solid #EE7A00;
}

.border3 {
    border: 4px solid gold;
}

.border4 {
    border: 4px solid #6A8;
}

.border5 {
    border: 4px solid green;
}

.levelColor0 {
    color: #AAA;
}

.levelColor1 {
    color: #BB4444;
}

.levelColor2 {
    color: #EE7A00;
}

.levelColor3 {
    color: #CfB700;
}

.levelColor4 {
    color: #6A8;
}

.levelColor5 {
    color: green;
}

.matrix {
    margin: 7em auto 1em auto;
    padding-right: 5em;
}

.matrix tbody tr:nth-child(even) {
    background: #EFE;
}

.matrix td {
    font-size: 1.8vmin;
    padding: 0;
    border: 1px solid #AAA;
    text-align: center;
    vertical-align: middle;
}

.matrix table table {
    border: none;
    padding: 0;
    margin: 0;
}

.matrix td {
    padding: 0.3em;
}

.matrix .leftHeader .avatar-tiny {
    vertical-align: middle;
    margin: 0.1em 0.3em 0.1em 0.1em;
}

.matrix .leftHeader {
    font-weight: bold;
    text-align: left;
}

th.rotate {
    height: 5.4em;
    text-overflow-ellipsis: ellipsis;
    white-space: nowrap;
    border: none;
}

th.rotate > div {
    transform: translate(1.0em, 3.4em) rotate(315deg);
    width: 1.4em;
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
}

.score {
    background: #FFF;
    padding: 4px 1px 4px 8px;
    vertical-align: middle;
    margin-right: 1em;
    border-radius: 4px;
}

.score .logo {
    font-size: 1.8em !important;
}

progress {
    margin: 1px;
}

.progressWrap.selected {
    background: #999;
}

.progressWrap {
    margin-right: 2em;
    text-align: center;
    float: left;
}

.progressWrap a, .progressWrap a:visited {
    font-size: 0.8em;
    text-decoration: none !important;
    color: #444;
}

ion-item.header {
    background: #DDD;
    font-weight: bold;
}

ion-item.top {
    color: #FFF;
    background: #666;
    padding: 0.1em 0.5em;
    border-radius: 0.4em 0.4em 0 0;
}

ion-item.top h2 {
    padding: 0.4em;
    color: #FFF;
    font-size: 1.4em;
}

.fadein,
.fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56vh;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    max-width: 853px;
    max-height: 480px;
}