.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #757573 !important;
}

.bar.bar-assertive, .assertive {
    border: none;
}

.cycle a {
    color: #243842 !important;
}

.tab-item:hover {
    color: #ff9f1f !important;
}

.tab-item-active {
    color: #f49e1a;
}

ion-content.dashboard, ion-content.login {
    background: url("/site/3rdnursing/images/bgOpaque.jpg") top left no-repeat;
    background-size: cover;
}

.tabs-assertive > .tabs, .tabs.tabs-assertive, .bar.bar-assertive {
    border-color: #d47e0a;
}
