<table class="table table-striped listing" [mfData]="members | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
       [(mfSortBy)]="sortBy"
       [(mfSortOrder)]="sortOrder">
    <thead>
    <tr>
        <th colspan="3">
            <mfDefaultSorter [by]="sortName">{{'Member'|translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="roleName">{{'Role'|translate}}</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter [by]="sortBadges">{{'Badges'|translate}}</mfDefaultSorter>
        </th>
        <th *ngIf="includeLastAssessment">
            <mfDefaultSorter [by]="sortLastAssessment">{{'Last Assessment'|translate}}</mfDefaultSorter>
        </th>
    </tr>
    <tr>
        <th [attr.colspan]="includeLastAssessment?6:5">
            <ion-searchbar [(ngModel)]="filterQuery" placeholder="filter"></ion-searchbar>
        </th>
    </tr>
    <tr [hidden]="!loading">
        <td [attr.colspan]="includeLastAssessment?6:5">
            <loading-indicator [loading]="loading"></loading-indicator>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of mf.data" class="order">
        <td>
            <avatar (click)="goToDetail(member)" [id]="member.id" [size]="'list'"></avatar>
        </td>
        <td style="width:20px;">
            <a [href]="'mailto:' + (member && member.email? member.email : '')">
                <app-icon name="mail"></app-icon>
            </a>
        </td>
        <td>
            <a (click)="goToDetail(member)">{{member|namify:false}}</a>
        </td>
        <td>
            {{config.roleName(member.roleId)}}
        </td>
        <td>
            <micro-badge-count [n]="member.badges ? member.badges.length : 0"></micro-badge-count>
        </td>
        <td *ngIf="includeLastAssessment">
            <assessment-item [assessment]="member.lastAssessment" [showMember]="false" [showIcon]="false"></assessment-item>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>
