<ion-header>
    <header-bar [title]="'Members'|translate"></header-bar>
</ion-header>

<ion-content class="dashboard member-list">
    <table class="table table-striped" [mfData]="members | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
           [(mfSortOrder)]="sortOrder">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>
                <mfDefaultSorter [by]="sortName">Name</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="roleName">Role</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter [by]="sortBadges">Badges</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter [by]="sortLastAssessment">Last Assessment</mfDefaultSorter>
            </th>
        </tr>
        <tr>
            <th colspan="7">
                <ion-searchbar [(ngModel)]="filterQuery" placeholder="filter"></ion-searchbar>
            </th>
        </tr>
        <tr [hidden]="!loading">
            <td colspan="4">
                <loading-indicator [loading]="loading"></loading-indicator>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of mf.data" class="order">
            <td>
                <avatar *ngIf="member.avatar" [id]="member.id" [size]="'list'"></avatar>
            </td>
            <td>
                <a [href]="'mailto:' + (member && member.email? member.email : '')">
                    <app-icon name="members"></app-icon>
                </a>
                <a (click)="goToDetail(member)">{{member|namify:false}}</a>
            </td>
            <td>
                {{member.roleName}}
            </td>
            <td>
                <micro-badge-count [n]="member.badges ? member.badges.length : 0"></micro-badge-count>
            </td>
            <td>
                <assessment-item [assessment]="member.lastAssessment" [showMember]="false" [showIcon]="false"></assessment-item>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</ion-content>
