/* Empty. Add your own CSS if you like */
i.logo {
    font-size: 34px !important;
    font-weight: bold !important;
    margin-right: 0.5em;
}

.tag {
    color: #468;
    font-size: 0.9em;
    margin: 0.2em;
}

::-ms-tooltip {
    display: none;
}

.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #c70002 !important;
}

.bar-assertive.customerBg .title {
    font-size: 1.4em;
}

ion-header-bar a {
    color: #FFF !important;
}

ion-list img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 0.5em;
}

.list .avatar img {
    max-width: 80px !important;
    max-height: 80px !important;
    width: 80px !important;
    height: 80px !important;
    float: left;
    margin-right: 1em;
}

.avatar-large {
    width: 10em;
    height: 10em;
}

.avatar-tiny {
    width: 2em;
    height: 2em;
}

.avatar-small, .border {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 0.5em;
    border-radius: 5em;
    border: 3px solid #c70002;
}

h1 {
    margin-top: 0.3em !important;
}

.item-content, .item {
}

ion-item .listIcon {
    float: left;
    vertical-align: middle;
    font-size: 1.4em;
    font-weight: bold;
    border: 2px solid #777;
    color: #777;
    padding: 0.4em;
    border-radius: 0.3em;
}

.list div.text {
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.4em;
    vertical-align: middle;
}

.assessment .text {
    margin-top: 0.3em;
}

.detail .title {
    font-size: 1.3em;
    font-weight: bold;
}

.detail .row {
    margin: 1em;
}

ion-item .title a, .list .title a:visited, .detail .title, ion-item .title {
    text-decoration: none;
    color: #777;
    vertical-align: middle;
    font-weight: bold !important;
    font-size: 1.2em;
    white-space: normal;
}

ion-item .role {
    font-size: 1.0em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

ion-item .stamp {
    font-size: 0.8em;
    font-weight: normal;
    font-style: italic;
    white-space: normal;
}

.detail {
    padding: 1em;
}

.detail .title {
    font-size: 1.4em;
}

.detail .summary {
    padding: 1em;
}

.list div.number, .detail div.number {
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF;
    background: #777;
    padding: 0.8em;
    border-radius: 4em;
    float: left;
    margin-right: 1em;
}

.list div.description {
    color: #444;
    white-space: normal;
    padding: 0.3em 0;
}

.list div.description ul {
    margin: 0.4em 0;
}

.list div.description li {
    list-style-type: square;
    margin-left: 2em;
    font-size: 0.8em;
}

.list slider {
    float: right;
}

.recommendationsPane {
    max-height: 8em;
    overflow-y: auto;
    border: 1px solid #999;
    border-radius: 0.2em;
}

.recommendationsPane .item {
    background: #EEFFEE;
    font-size: 2.0vmin;
}

ion-content {
    padding: 1em;
}

table.cycle {
    margin: 1em auto;
    width: 600px;
    height: 600px;
    max-width: 80vmin;
    max-height: 80vmin;
    background: url(../img/cycle2.png) top center no-repeat;
    background-size: contain;
    font-size: 1.8vmin;
}

table.cycle a {
    color: #444;
    text-decoration: none;
}

.cycle td {
    font-size: 2.4em;
    line-height: 0.9em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #336699;
}

.recommendationRanking {
    color: darkgreen;
}

.microBadge {
    background: transparent url(../img/badge.png) center center no-repeat;
    background-size: contain;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    margin: 0.5em;
}

.microBadge.small {
    height: 52px;
    width: 52px;
    font-size: 0.5em;
    line-height: 0.9em;
}

.microBadge.large {
    height: 80px;
    width: 80px;
    font-size: 0.8em;
    line-height: 1.2em;
}

.levelBadge i {
    font-size: 1.5em;
    font-weight: bold;
    width: 3em;
}

.levelBadge {
    padding: 0.4em;
    border-radius: 0.3em;
    font-size: 0.8em !important;
    font-weight: normal !important;
    font-style: normal !important;
    line-height: 1.5em;
    vertical-align: middle;
    float: left;
    margin: 0.1em;
    width: 15em;
    white-space: normal !important;
}

.level {
    font-size: 1.2em !important;
    font-weight: bold;
}

.levelName {
    padding: 0.4em 0.4em;
    border-radius: 1em;
    margin: 0.1em;
    font-size: 0.7em;
    line-height: 0.9em;
    height: auto;
    white-space: normal;
    text-align: center;
}

.levelBg0 {
    background: #AAA;
    color: #FFF;
}

.levelBg1 {
    background: #BB4444;
    color: #FFF;
}

.levelBg2 {
    background: #EE7A00;
    color: #FFF;
}

.levelBg3 {
    background: gold;
    color: #777;
}

.levelBg4 {
    background: #6A8;
    color: #FFF;
}

.levelBg5 {
    background: green;
    color: #FFF;
}

.border0 {
    border: 4px solid #AAA;
}

.border1 {
    border: 4px solid #BB4444;
}

.border2 {
    border: 4px solid #EE7A00;
}

.border3 {
    border: 4px solid gold;
}

.border4 {
    border: 4px solid #6A8;
}

.border5 {
    border: 4px solid green;
}

.levelColor0 {
    color: #AAA;
}

.levelColor1 {
    color: #BB4444;
}

.levelColor2 {
    color: #EE7A00;
}

.levelColor3 {
    color: gold;
}

.levelColor4 {
    color: #6A8;
}

.levelColor5 {
    color: green;
}

.matrix {
    margin: 7em auto 1em auto;
    padding-right: 5em;
}

.matrix tbody tr:nth-child(even) {
    background: #EFE;
}

.matrix td {
    font-size: 1.8vmin;
    padding: 0;
    border: 1px solid #AAA;
    text-align: center;
    vertical-align: middle;
}

.matrix td td {
    font-size: 1.8vmin;
    padding: 0;
    border: none;
}

.matrix .leftHeader .avatar-tiny {
    vertical-align: middle;
    margin: 0.1em 0.3em 0.1em 0.1em;
}

.matrix .leftHeader {
    font-weight: bold;
    text-align: left;
}

th.rotate {
    height: 5.4em;
    margin-left: -4em;
    text-overflow-ellipsis: ellipsis;
    white-space: nowrap;
}

th.rotate > div {
    transform: translate(1.1em, 3.4em) rotate(315deg);
    width: 2em;
}

th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.score {
    background: #FFF;
    padding: 4px 1px 4px 8px;
    vertical-align: middle;
    margin-right: 1em;
    border-radius: 4px;
}

.score .logo {
    font-size: 1.8em !important;
}

progress {
    margin: 1px;
}

.progressWrap.selected {
    background: #999;
}

.progressWrap {
    margin-right: 2em;
    text-align: center;
    float: left;
}

.progressWrap a, .progressWrap a:visited {
    font-size: 0.8em;
    text-decoration: none !important;
    color: #444;
}

ion-item.top {
    color: #FFF;
    background: #666;
    padding: 0.1em 0.5em;
    border-radius: 0.4em 0.4em 0 0;
}

ion-item.top h2 {
    padding: 0.4em;
    color: #FFF;
    font-size: 1.4em;
}

.fadein,
.fadeout {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #777;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
    padding-bottom: 56vh;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    max-width: 853px;
    max-height: 480px;
}