{block content}
<div id="banner" style="margin:1em; background: #ddd; border-radius:4px; padding: 1em; float:left;">
	<h1 n:block=title>CogentQI Services</h1>
	You have reached the service layer for the CogentQI application.  You will need secure access to use these services.
</div>
