.customerBg, .tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background-color: #1b5123 !important;
}

.bar.bar-assertive, .assertive {
    border: none;
}

.cycle a {
    color: #444 !important;
}

.tab-item:hover {
    color: yellow !important;
}

.card {
    background: #DDD;
}

.tabs-assertive > .tabs, .tabs.tabs-assertive {
    border-color: #1b5123;
}