body {
    color: #606060;
}

.customerBg {
    background: #FFF url(/frontend/site/it/images/bg-top-nav.png) !important;
    background-size: 100% 100% !important;
}

ion-header-bar {
    background: #FFF url(/frontend/site/it/images/bg-top-nav.png) !important;
}

ion-header-bar img {
    vertical-align: top !important;
}

ion-content {
    background: #FFF url(/frontend/site/it/images/bg.gif) !important;
    background-size: 100% 100% !important;
}

ion-header-bar a {
    color: #1fa3d0 !important;
}

.tabs-assertive.customerBg > .tabs, .tabs.tabs-assertive.customerBg {
    background: #1fa3d0 !important;
}

.bar.bar-assertive .title {
    color: #1fa3d0;
}

.bar-assertive .button.button-clear {
    color: #1fa3d0;
}

.cycle a {
    color: #606060 !important;
}

.dashname {
    color: #606060;
}

.tab-item-active {
    color: #FFF;
}

.tab-item:hover {
    color: #FFF !important;
}


.slider0 span.pointer {
    border-top: 1em solid gray;
    color: #FFF;
}

.slider1 span.pointer {
    border-top: 1em solid #BB4444 !important;
    color: #FFF !important;
}

.slider2 span.pointer {
    border-top: 1em solid darkgreen !important;
    color: #FFF !important;
}

.slider3 span.pointer {
    border-top: 1em solid #68A !important;
    color: #FFF !important;
}

.levelBg0 {
    background: #AAA !important;
    color: #FFF !important;
}

.levelBg1 {
    background: #BB4444 !important;
    color: #FFF !important;
}

.levelBg2 {
    background: darkgreen !important;
    color: #FFF !important;
}

.levelBg3 {
    background: #68A !important;
    color: #FFF !important;
}

