<table class="cycle">
    <tr>
        <td style="text-align:left; vertical-align: middle !important; padding-top:2em;">
            <div style="float:left; margin-top:-5.6em; font-size: 0.5em; line-height:1em; text-align: left;">
                <div class="dashName">{{data.user.fn}} {{data.user.ln}}</div>
                <div class="dashJob">{{data.user.jt}}</div>
                <div class="dashRole" data-ng-show="data.user.rn != data.user.jt">{{data.user.rn}}</div>
                <div class="dashOrg">{{data.user.org}}</div>
            </div>
            <a style="margin-left:1.5em;" href="#/assessment/matrix">{{'Assessment'|translate}}</a>
        </td>
        <td style="text-align:center; vertical-align: bottom !important;">
            <a style="margin-left:-1em;" href="{{'#/outcome/' + (isAdministrator()? 'organization':'list')}}">{{'Outcomes'|translate}}</a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="poweredBy">
                <a href="//cogentQI.com">Powered by <img data-ng-src="/img/logo_272x60.png" alt="" style="width: 15vmin;"/></a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align:left; vertical-align: top !important;">
            <div style="margin-left:1.0em;">
                <a href="{{'#/' + (isAdministrator()? data.ari+'/progress':'resource/list')}}"
                   ng-bind-html="'Professional Development'|translate|replace:' ':'<br/>'"></a>
            </div>
        </td>
        <td style="text-align:left; vertical-align: top !important; padding-top:1.4em;">
            <a href="#/module/list" style="margin-left:-1.6em;">{{'Planning'|translate}}</a>
        </td>
    </tr>
</table>
