<ion-item class="item-icon-right" type="item-text-wrap" href="#/resource/view/{{item.r}}">
    <div style="float:left;">
        <div class="name">
            <i class="{{i.resource}} pad-right"></i>
            {{item.n}}
        </div>
        <p>
            {{verb}} {{item.dt | date:'longDate'}} ({{item.dt|timeAgo}})
        </p>
    </div>
    <div style="float:right;" ng-repeat="badge in item.module.badges">
        <micro-badge src="badge.image" text="badge.n" size="'icon'" completed="item.s == 'C'"></micro-badge>
    </div>
    <i class="icon ion-chevron-right icon-accessory" ng-show="item.s!=='C'"></i>
</ion-item>
