
.assessment-list {

  ion-card-content > div:first-child {
    font-weight: bold;
    width: 14em;
  }
  ion-card-content > div:nth-child(2) .name {
    font-weight: bold;
    font-style: italic;
  }

}
