<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{instrument.n}}: {{assessment.member|namify}} {{assessment.lm|date}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content assessment-detail" padding="true">
    <h1>{{instrument.n}}</h1>
    <ion-grid class="header">
        <ion-row>
            <ion-col>
                <div class="pull-left">
                    <avatar [src]="assessment.member.av" [size]="'full'"></avatar>
                </div>
                <div class="pull-left"><h3>{{assessment.member|namify}}</h3></div>
            </ion-col>
            <ion-col>
                Last modified {{assessment.lm|date:'M/d/yyyy @ h:mm'}} by {{assessment.assessor|namify}}
                <avatar [src]="assessment.assessor.av" [size]="'tiny'"></avatar>
            </ion-col>
            <ion-col class="button-bar">
                <app-icon-button (click)="save()" name="save"></app-icon-button>
                <app-icon-button (click)="lock()" name="lock"></app-icon-button>
                <app-icon-button (click)="pdf()" name="pdf"></app-icon-button>
             </ion-col>
        </ion-row>
    </ion-grid>
    <loading-indicator [hidden]="instrument?.questions?.length"></loading-indicator>
    <ion-segment>
        <ion-segment-button *ngFor="let questionGroup of instrument.questionGroups; let groupIndex = index"
                            value="questionGroup.tag" (click)="goTo(groupIndex)"
                            ngClass="{{(groupIndex == slideIndex? 'active' : 'inactive')}}">
            <div>{{questionGroup.tag}}</div>
        </ion-segment-button>
    </ion-segment>
    <ion-slides #assessmentSlider [options]="{loop:false, effect:'slide', autoHeight:true, onlyExternal:true}">
        <ion-slide *ngFor="let questionGroup of instrument.questionGroups; let groupIndex = index" (swipe)="swipeEvent($event)">
            <ion-card class="question-group">
                <ion-card-header class="title" [innerHtml]="questionGroup.tag"></ion-card-header>
                <ion-card-content>
                    <div *ngFor="let question of instrument.questions; let questionIndex = index">
                        <ion-card class="question" *ngIf="(question.qg == questionGroup.id)">
                            <ion-card-header>
                                <div class="title" [innerHtml]="question.n"></div>
                                <div class="text" [innerHtml]="question.sm"></div>
                            </ion-card-header>
                            <ion-card-content>
                                <div class="slide-width-{{question.type.choices.length}}">
                                    <ion-range min="0" [max]="(question.type.choices.length-1)" step="1" snaps="true"
                                               [(ngModel)]="question.response"></ion-range>
                                </div>
                                <rubric [question]="question"></rubric>
                            </ion-card-content>
                        </ion-card>
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
