<div class="assessmentNameCard">
    <h1 style="margin:0.1em;">
        {{assessment.instrument.n}}
    </h1>
    <div class="row responsive-sm">
        <div class="col col-33">
            <div style="float:left; text-align: center;">
                <div>
                    <a href="#/member/view/{{member.id}}">
                        <avatar site="site" sz="'small'" member-id="member.id" level="assessment.sc" alt="avatarAlt(member)"></avatar>
                    </a>
                </div>
                <div><a href="#/member/view/{{member.id}}">{{member.fn}} {{member.ln}}</a></div>
                <div class="role">{{member.rl}}</div>
                <div class="score" data-ng-show="assessment.rk > 0">
                    <div class="scoreTag" data-ng-class="(assessment.typ == 'YESNO'?'yesNoBg':'levelBg') + assessment.rk">
                        {{assessment.scoreWord}} ({{assessment.sc}})
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-67">
            <table>
                <tr>
                    <td>
                        Performed by: <a href="/#/member/view/{{assessment.assessor.id}}">{{assessment.assessor.fn}} {{assessment.assessor.ln}}</a>
                        <span ng-show="assessment.ls.length > 0">{{'on'|translate}} {{assessment.ls|date:'medium'}}</span>
                    </td>
                    <td>
                        <a href="/#/member/view/{{assessment.assessor.id}}">
                            <avatar site="site" sz="'tiny'" member-id="assessment.assessor.id" level="0" alt="avatarAlt(assessment.assessor)"></avatar>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>