<h4 style="margin:1em 0 0 0;"><a href="#/manager/member/{{member.id}}">{{member.fn}} {{member.ln}}</a></h4>

<div class="role">{{member.rl}}</div>
<a href="#/manager/member/{{member.id}}">
    <avatar site="site" sz="'medium'" member-id="member.id" level="assessment.sc" alt="avatarAlt(member)"></avatar>
</a>
<div class="score" data-ng-show="assessment.avgRound > 0">
    <div style="font-size:1.0em; padding: 0.3em 0; text-align:center; width:14vmin; margin:0 auto;"
         data-ng-class="(assessment.typ == 'YESNO'?'yesNoBg':'levelBg') + assessment.avgRound">
        {{assessment.scoreWord}} ({{assessment.avg}})
    </div>
</div>