<ion-view view-title='Assessment Matrix'>
    <ion-nav-buttons side="right">
        <a href="/#tab/assessments" style="font-size:1.2em;">Assessments >></a>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div style="text-align:center; margin-top: 1em;">
            <h3>{{a.sectionCurrentName()}}</h3>
            <select style="margin-top:1em;" class="large" data-ng-model="data.currentInstrumentId"
                    data-ng-change="setCurrentInstrument(data.currentInstrumentId)"
                    data-ng-options="instrument.id as instrument.name for instrument in data.instruments">
            </select>
            <h2>{{data.matrix.org.name}}</h2>
        </div>
        <div style="overflow: auto !important;">
            <table id="matrix" class="matrix">
                <thead>
                <tr>
                    <th style="font-style: italic;">{{'Most Recent'|translate}}<br/>{{'Member Assessments'|translate}}</th>
                    <th class="rotate" data-ng-repeat="hdr in data.matrix.hdrs track by $index" data-ng-class="getCellClass(hdr)"
                        data-ng-show="show(hdr)">
                        <div><span>{{hdr[1]|ellipsify:24}}</span></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="row in data.matrix.rows">
                    <td class="leftHeader" data-ng-class="row.mid == -1 || row.oid == -1? 'average':''">
                        <div data-ng-switch="data.matrix.mType == 'M' ? row.mid : row.oid">
                            <div data-ng-switch-when="-1" style="text-align: right;">
                                {{row.n}}
                            </div>
                            <div data-ng-switch-default>
                                <div data-ng-switch="data.matrix.mType">
                                    <div data-ng-switch-when="M">
                                        <a href="/#/manager/member/{{row.mid}}">
                                            <avatar site="siteDir()" sz="'tiny'" member-id="row.mid" level="row.lv" alt=""></avatar>
                                        </a>
                                        <a href="/#/manager/assessment/{{row.aid}}"><i class="{{i.assessment}}"></i></a>
                                        <a href="/#/manager/member/{{row.mid}}">{{row.n}}</a>
                                    </div>
                                    <div data-ng-switch-when="O">
                                        <a href="/#/assessment/matrix/{{row.oid}}">{{row.n}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td data-ng-repeat="response in row.rsp track by $index" data-ng-class="getCellClass(response)"
                        data-ng-show="show(response)">
                        <div data-ng-class="getScoreClass(response)">{{response[1]}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="matrixButtons" class="row row-responsive-sm">
            <div class="col" style="text-align:center;">
                <a class="button" data-ng-click="previous()"><< {{previousName()|ellipsify:25}}</a>
                <a class="button" data-ng-show="!isAll()" data-ng-click="viewAll()">Complete</a>
                <a class="button" data-ng-show="!isSummary()" data-ng-click="viewSummary()">Sections</a>
                <a class="button" data-ng-click="next()">{{nextName()|ellipsify:25}} >></a>
            </div>
        </div>
    </ion-content>
</ion-view>
