<ion-view view-title="{{'Assessment Matrix'|translate}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
         <div style="text-align:center; margin-top: 1em;">
            <h3>{{a.sectionCurrentName()}}</h3>
            <select data-ng-show="Instruments.list.length > 1" style="margin-top:1em;" class="large" data-ng-model="Instruments.current.id"
                    data-ng-change="setMatrix(Instruments.current.id, null)"
                    data-ng-options="instrument.id as instrument.n for instrument in Instruments.list">
            </select>
            <h1 data-ng-show="Instruments.list.length == 1">{{Instruments.current.n}}</h1>
            <h2>{{Assessments.matrix.org.n}}</h2>
        </div>
        <div style="overflow: auto !important;">
            <table id="matrix" class="matrix">
                <thead>
                <tr>
                    <th style="font-style: italic;">{{'Most Recent'|translate}}<br/>{{'Member Assessments'|translate}}</th>
                    <th class="rotate" data-ng-repeat="hdr in Assessments.matrix.hdrs track by $index" data-ng-class="getCellClass(hdr)"
                        data-ng-show="show(hdr)">
                        <div><span>{{hdr[1]|ellipsify:24}}</span></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="row in Assessments.matrix.rows">
                    <td class="leftHeader" data-ng-class="row.mid == -1 || row.oid == -1? 'average':''">
                        <div data-ng-switch="Assessments.matrix.mType == 'M' ? row.mid : row.oid">
                            <div data-ng-switch-when="-1" style="text-align: right;">
                                {{row.n}}
                            </div>
                            <div data-ng-switch-default>
                                <div data-ng-switch="Assessments.matrix.mType">
                                    <div data-ng-switch-when="M">
                                        <a href="/#/member/view/{{row.mid}}">
                                            <avatar site="siteDir()" sz="'tiny'" member-id="row.mid" level="row.lv" alt=""></avatar>
                                        </a>
                                        <a href="/#/assessment/view/{{row.aid}}"><i class="{{i.assessment}}"></i></a>
                                        <a href="/#/member/view/{{row.mid}}">{{row.n}}</a>
                                    </div>
                                    <div data-ng-switch-when="O">
                                        <a href="/#/assessment/matrix/{{row.oid}}">{{row.n}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td data-ng-repeat="response in row.rsp track by $index" data-ng-class="getCellClass(response)"
                        data-ng-show="show(response)">
                        <div data-ng-class="getScoreClass(response)">{{response[1]}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="matrixButtons" class="row row-responsive-sm">
            <div class="col" style="text-align:center;">
                <a class="button" ng-click="Instruments.sectionPrevious()"><< {{Instruments.sectionPreviousName()|ellipsify:20}}</a>
                <a class="button" data-ng-show="!Instruments.sectionIsAll()" ng-click="Instruments.sectionViewAll()">Complete</a>
                <a class="button" data-ng-show="!Instruments.sectionIsSummary()" ng-click="Instruments.sectionViewSummary()">Sections</a>
                <a class="button" ng-click="Instruments.sectionNext()">{{Instruments.sectionNextName()|ellipsify:20}} >></a>
            </div>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
