<ion-view view-title="{{'Assessment'|translate}}" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <page-loader i="i" loading="data.isLoading"></page-loader>
        <div class="paddedView">
            <div class="row responsive-lg">
                <div ng-show="!data.isLoading" class="col col-50">
                    <div class="assessmentNameCardWrap">
                        <assessment-name-card site="siteDir()" member="Assessments.current.member" assessment="Assessments.current"></assessment-name-card>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="iconBar" ng-show="!data.isLoading">
                        <button id="assessmentSave" data-ng-show="canEdit() && Assessments.current.es!='L'"
                                class="button button-action button-save {{data.dirty? 'button-dirty':'button-clean'}}" ng-click="save($event)">
                            <i class="{{i.save}}"></i>
                        </button>
                        <button data-ng-show="canLock()" class="button button-action button-{{Assessments.current.es=='L'?'unlock':'lock'}}"
                                ng-click="toggleLock()">
                            <i class="{{Assessments.current.es=='L'? i.unlocked : i.locked}}"></i>
                        </button>
                        <button data-ng-show="canRemove() && Assessments.current.es!='L'" class="button button-action button-remove" ng-click="remove()">
                            <i class="{{i.remove}}"></i>
                        </button>
                        <button class="button button-action button-pdf" ng-click="printIt()"><i class="{{i.pdf}}"></i></button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm" ng-show="!data.isLoading">
                <div class="col"
                     style="border: 1em solid white; padding:1em; background:gray; vertical-align: middle; color: white; font-weight:bold; text-align: center; cursor:pointer;"
                     ng-repeat="section in Assessments.current.instrument.sections" ng-click="go($index)">
                    <progressbar style="margin-bottom:0.2em;" class="progress active" max="100" value="percentComplete(section.questions)" type="success">
                    </progressbar>
                    <div>{{section.n}}</div>
                </div>
            </div>
            <div class="row responsive-lg detail" ng-show="!data.isLoading">
                <div class="col col-100 assessment">
                    <div style="display:none;">{{Assessments.current.lm}}</div>
                    <div id="section{{$index}}" ng-repeat="section in Assessments.current.instrument.sections" class="fadein fadeout">
                        <div data-ng-show="Instruments.sectionIsCurrent(Assessments.current.instrument, section.id)">
                            <!--div class="instrumentNavBtn pull-left">
                                <a ng-click="previous()"><< {{section.prv|ellipsify:22}}</a>
                            </div>
                            <div class="instrumentNavBtn pull-right">
                                <a ng-click="next()">{{section.nxt|ellipsify:22}} >></a>
                            </div>
                            <div class="clearfix"></div>
                            <div style="height:1em;"></div-->
                            <div class="list card animated slideInRight">
                                <ion-item class="top">
                                    <h2 style="float:left;">{{section.nmb}} {{section.n}}</h2>
                                </ion-item>
                                <ion-item class="item-remove-animate question fadein fadeout" ng-repeat="question in section.questions" type="item-text-wrap">
                                    <div>
                                        <div style="display:table-row;">
                                            <div style="display:table-cell;" class="number" data-ng-bind="section.nmb + '.' + question.nmb"></div>
                                            <div style="display:table-cell; line-height: 1em;" class="text" data-ng-bind="question.n"></div>
                                        </div>
                                        <div class="description" data-ng-bind-html="question.dsc"></div>
                                    </div>
                                    <assessment-response></assessment-response>
                                    <div class="clearfix"></div>
                                    <div>
                                        <div class="pull-left">
                                            <a ng-click="question.showComments = (question.showComments == undefined? true : !question.showComments)">
                                                <i data-ng-class="hasComment(question)? i.noteFilled : i.noteEmpty"></i>
                                            </a>
                                        </div>
                                        <div class="pull-left" style="margin-left:1em;">
                                            <div data-ng-switch="showComment(question)">
                                                <div data-ng-switch-when="true">
                                                    <textarea cols="60" rows="3" data-ng-model="response(question.id).ac"
                                                              data-ng-bind="response(question.id).ac"></textarea>
                                                </div>
                                                <div data-ng-switch-when="false">
                                                    <p class="comments" data-ng-bind-html="getComment(question)"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ion-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
