<ion-view view-title="Assessment">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div style="float:left; margin:0.2vw 1vw 0 0;">
            <h1 style="margin:0">{{data.assessment.instrument.nm}}</h1>

            <div>
                Performed by: {{data.assessment.assessor.fn}} {{data.assessment.assessor.ln}}
                <a href="/#/member/view/{{data.assessment.assessor.id}}">
                    <avatar site="siteDir()" sz="'tiny'" member-id="data.assessment.assessor.id" level="0" alt="avatarAlt(data.assessor)"></avatar>
                </a>
            </div>
        </div>
        <div class="iconBar">
            <button id="assessmentSave" data-ng-if="canEdit() && data.assessment.es!='L'"
                    class="button button-action button-save {{data.dirty? 'button-dirty':'button-clean'}}" data-ng-click="save($event)">
                <i class="{{i.save}}"></i>
            </button>
            <button data-ng-if="canLock()" class="button button-action button-{{data.assessment.es=='L'?'unlock':'lock'}}" data-ng-click="toggleLock()">
                <i class="{{data.assessment.es=='L'? i.unlocked : i.locked}}"></i>
            </button>
            <button data-ng-if="canRemove() && data.assessment.es!='L'" class="button button-action button-remove" data-ng-click="remove()">
                <i class="{{i.remove}}"></i>
            </button>
            <button class="button button-action button-pdf" data-ng-click="printIt()"><i class="{{i.pdf}}"></i></button>
            <div class="clearfix"></div>
        </div>
        <div class="row responsive-lg">
            <div class="col col-25 card" style="text-align: center;">
                <assessment-name-card site="siteDir()" member="data.assessment.member" assessment="data.assessment"></assessment-name-card>
            </div>
            <div class="col card">
                <assessment-recommendations title="installation.trademarkName + ' Recommended Modules'"
                                            items="data.recommendations"></assessment-recommendations>
            </div>
        </div>
        <div class="row responsive-sm detail">
            <div class="col col-100 assessment">
                <div style="display:none;">{{data.assessment.lm}}</div>
                <div id="section{{$index}}" data-ng-repeat="section in data.assessment.instrument.sections" class="fadein fadeout">
                    <div data-ng-show="Instruments.sectionIsCurrent(data.assessment.instrument, section.id)">
                        <div class="instrumentNavBtn pull-left">
                            <a ng-click="Instruments.sectionPrevious(data.assessment.instrument)"><< {{section.previous|ellipsify:22}}</a>
                        </div>
                        <div class="instrumentNavBtn pull-right">
                            <a ng-click="Instruments.sectionNext(data.assessment.instrument)">{{section.next|ellipsify:22}} >></a>
                        </div>
                        <div class="clearfix"></div>
                        <div style="height:1em;"></div>
                        <ion-list>
                            <ion-item class="top">
                                <h2 style="float:left;">{{section.number}} {{section.name}}</h2>
                            </ion-item>
                            <ion-item class="item-remove-animate" data-ng-repeat="question in section.questions" type="item-text-wrap">
                                <div>
                                    <div style="display:table-row;">
                                        <div style="display:table-cell;" class="number" data-ng-bind="section.number + '.' + question.nb"></div>
                                        <div style="display:table-cell; line-height: 1em;" class="text" data-ng-bind="question.nm"></div>
                                    </div>
                                    <div class="description" data-ng-bind-html="question.dsc"></div>
                                </div>
                                <assessment-response></assessment-response>
                                <div class="clearfix"></div>
                                <div>
                                    <div class="pull-left">
                                        <a data-ng-click="question.showComments = (question.showComments == undefined? true : !question.showComments)">
                                            <i data-ng-class="hasComment(question)? i.noteFilled : i.noteEmpty"></i>
                                        </a>
                                    </div>
                                    <div class="pull-left" style="margin-left:1em;">
                                        <div data-ng-switch="showComment(question)">
                                            <div data-ng-switch-when="true">
                                                <textarea cols="60" rows="3" data-ng-model="question.rsp.ac" data-ng-bind="question.rsp.ac"></textarea>
                                            </div>
                                            <div data-ng-switch-when="false">
                                                <p class="comments" data-ng-bind-html="getComment(question)"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
