<div class="outcomeItemTable">
    <div>
        <div>
            <span class="outcomeLevel{{data.currentOrg.lv[$index]}}"><i class="{{i.outcome}} fa-lg fa-2x"></i></span>
        </div>
        <div class="name">
            {{event.n}}
            <div class="summary">{{event.dsc}}</div>
            <div class="rubricWrap">
                <div class="outcomeLevel outcomeLevelBg{{data.currentOrg.lv[$index]}}">
                    {{getRubric(data.currentOrg.lv[$index])|translate}}
                </div>
            </div>
            <div class="outcomeMethod" data-ng-bind="methodMessage(outcome.mth)|translate"></div>
        </div>
        <div style="width:25%;">
            <div class="outcomeLevel{{data.currentOrg.lv[$index]}} phrase">{{outcomeLevelPhrase(data.currentOrg.lv[$index])|translate}}</div>
            <div id="range{{outcome.id}}"
                 class="item range {{getBarColor(outcome, data.currentOrg)}} {{outcome.mth == 'D'? 'disabled':''}}">
                <input type="range" name="outcomeLevel" min="0" max="3" data-ng-bind="data.currentOrg.lv[$index]"
                       data-ng-model="data.currentOrg.lv[$index]" data-ng-change="getBarColor(outcome, data.currentOrg)"
                       data-ng-disabled="outcome.mth =='D'"
                        />

                <div class="clearfix"></div>
                <div><span class="phrase outcomeLevel{{data.currentOrg.lv[$index]}}">{{data.currentOrg.lv[$index]|translate}}</span></div>
            </div>
        </div>
    </div>
</div>