<ion-view view-title="{{'Events Configuration'|translate}}" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <ion-list type="card">
            <ion-item class="top">
                <list-searcher></list-searcher>
            </ion-item>
            <ion-item class="item-icon-right" ng-repeat="event in filtered = (Events.list|filter:eventFilter)" type="item-text-wrap"
                      href="#/event/configure/{{event.id}}">
                <i class="{{i.event}} fa-lg"></i> {{event.nmb}} {{event.n}}
            </ion-item>
            <ion-item>
                <button onclick="alert('TBD');" class="button button-balanced">
                    <i class="{{i.add}} fa-lg"></i> {{'Add Event'|translate}}
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
