<ion-view view-title="{{'Instrument'|translate}}" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content class="padding" has-bouncing="false" overflow-scroll="true">
        <div class="list bottom-space">
            <ion-item>
                <div class="iconBar">
                    <div class="pull-right">
                        <button ng-click="save(this)" class="button button-action button-save">
                            <i ng-class="(data.saving? i.loadingSpinner : i.save) + ' ' + (data.dirty? 'button-dirty' : '')"></i>
                        </button>
                    </div>
                </div>
                <div class="row responsive-md">
                    <div style="width:100%; margin-left:4px;">
                        <label for="Instrument_name">{{'Name'|translate}}</label>
                        <input class="large long" id="Instrument_name" type="text" placeholder="name" ng-model="Instruments.current.n" ng-change="setDirty()">
                    </div>
                </div>
                <label for="Resource_description" class="item item-input">{{'Description'|translate}}</label>
                <textarea id="Resource_description" data-ng-change="setDirty()"
                          data-ng-model="Instruments.current.dsc" class="wysiwyg" ng-bind-html="Instruments.current.dsc" redactor>
                </textarea>
            </ion-item>
            <div class="top padding">
                <h3>{{'Competencies'|translate}}</h3>
            </div>
            <ion-item ng-repeat="questionGroup in Instruments.current.questionGroups track by $index" type="item-text-wrap">
                <div class="row responsive-lg" style="padding:2em;">
                    <div class="col-25">
                        <div style="font-size:1.1em; font-weight:bold; margin:1em;">{{'Domain'|translate}}</div>
                    </div>
                    <div class="col-25">
                        <label for="gnum_{{$index}}">{{'Prefix'|translate}}</label>
                        <input id="gnum_{{$index}}" type="text" class="name" ng-model="questionGroup.nmb" ng-bind="questionGroup.nmb"/>
                    </div>
                    <div class="col-50">
                        <label for="gname_{{$index}}">{{'Name'|translate}}</label>
                        <input id="gname_{{$index}}" type="text" class="name long" ng-model="questionGroup.tag" ng-bind="questionGroup.n"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="list">
                    <ion-item class="item-icon-right" ng-repeat="question in questionGroup.questions track by $index" type="item-text-wrap">
                        <label for="qnum_{{questionGroup.id + '_' + question.id}}">{{'Number'|translate}}</label>
                        <input id="qnum_{{questionGroup.id + '_' + question.id}}" type="text" ng-model="question.nmb" ng-bind="question.nmb"/>
                        <label for="qname_{{questionGroup.id + '_' + question.id}}">{{'Competency'|translate}}</label>
                        <input id="qname_{{questionGroup.id + '_' + question.id}}" type="text" class="name long" ng-model="question.n" ng-bind="question.n"/>
                        <label for="qsumm_{{questionGroup.id + '_' + question.id}}">{{'Detail'|translate}}</label>
                                <textarea id="qsumm_{{questionGroup.id + '_' + question.id}}" data-ng-change="setDirty()"
                                          data-ng-model="question.sm" class="wysiwyg" ng-bind-html="question.sm"
                                          redactor="{id:question.id}">
                                </textarea>
                        <div class="clearfix"></div>
                    </ion-item>
                </div>
                <div class="clearfix"></div>
            </ion-item>
        </div>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
<script>
    $('.redactor-editor').on('click', function () {
        alert('click');
    });
</script>