<ion-view view-title="Assessment Instruments" cache-view="false">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <ion-list type="card">
            <ion-item class="top"><h2>{{'Assessment Instruments'|translate}}</h2></ion-item>
            <ion-item class="gray" data-ng-show="!data.instruments.length"><i class="{{i.loadingSpinner}}"></i> Loading...</ion-item>
            <ion-item class="item item-icon-right item-text-wrap" data-ng-repeat="instrument in data.instruments"
                      href="#/instrument/view/{{instrument.id}}">
                <div class="name">{{instrument.n}}</div>
                <div class="summary">{{instrument.sm}}</div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item>
                <button onclick="alert('TBD');" class="button button-balanced"><i class="{{i.add}} fa-lg"></i> Add Instrument</button>
            </ion-item>
        </ion-list>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
