<ion-view view-title='Resource' ng-cloak>
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <table class="resource detail">
            <tr>
                <td>
                    <div class="number"><i class="{{i.resource}} fa-lg"></i> {{Resources.current.nmb}}</div>
                    <div class="title">{{Resources.current.n}}</div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <div style="width:50%; min-width:300px; margin:0 auto;">
                        <ng-include src="Resources.current.loc"></ng-include>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <quiz></quiz>
                </td>
            </tr>
        </table>
    </ion-content>
    <ng-include src="'/templates/common/tabs.html'"></ng-include>
</ion-view>
<style>
    table.resource {
        width: 100%;
    }

    table.resource td {
        padding: 0.5em;
        border-bottom: 1px solid #AAA;
    }
</style>
