<ion-view view-title="{{installation.name}}">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>

    <ion-content has-bouncing="false" overflow-scroll="true" style="margin-top:2em;">
        <div class="row responsive-sm">
            <div class="col col-25">
                <ion-list>
                    <ion-item class="top"><i class="{{i.tree}}"></i> {{data.parentOrg.name}}</ion-item>
                    <ion-item data-ng-class="isCurrent(organization)? 'active':''" class="item-icon-right"
                              data-ng-repeat="organization in data.organizations"
                              type="item-text-wrap" data-ng-click="setCurrentOrg(organization)">
                        <i data-ng-class="listIcon(organization)"></i> {{organization.name}}
                        <i style="color:black;" class="icon ion-chevron-right icon-accessory" data-ng-show="isCurrent(organization)"></i>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col col-75">
                <div class="detail" style="background:#DDD;">
                    <div style="float:right;">
                        <button class="button button-action button-save" data-ng-click="save()" ng-show="isDirty()">
                            <i class="{{i.save}}"></i>
                        </button>
                        <button class="button button-action button-general" data-ng-if="data.currentMembers !== undefined > 0"
                                data-ng-click="orgMatrix(data.currentOrg.id)"><i class="{{i.grid}}"></i></button>
                        <button class="button button-action button-general" data-ng-if="data.currentOrg.nc"
                                data-ng-click="drilldown(data.currentOrg.id)">
                            <i class="{{i.tree}}"></i>
                        </button>
                    </div>
                    <div style="float:left;">
                        <table>
                            <tr>
                                <td colspan="2" class="name" style="margin-bottom:0.2em;" edit-disabled="!data.canEdit" editable-text="data.currentOrg.name">
                                    {{data.currentOrg.name || 'empty'}}
                                </td>
                            </tr>
                            <tr>
                                <td class="label">phone</td>
                                <td>
                                    <div e-class="phone" onaftersave="setDirty()" edit-disabled="!data.canEdit"
                                         editable-text="data.currentOrg.ph">{{data.currentOrg.ph ||'empty'}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">fax</td>
                                <td>
                                    <div class="phone" onaftersave="setDirty()" edit-disabled="!data.canEdit" editable-text="data.currentOrg.fx">
                                        {{data.currentOrg.fx || 'empty'}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">address</td>
                                <td>
                                    <div onaftersave="setDirty()" edit-disabled="!data.canEdit" editable-text="data.currentOrg.ad">{{data.currentOrg.ad ||
                                        'empty'}}
                                    </div>
                                    <span onaftersave="setDirty()" edit-disabled="!data.canEdit" editable-text="data.currentOrg.cy">{{data.currentOrg.cy || 'empty'}}</span>,
                                    <span onaftersave="setDirty()" edit-disabled="!data.canEdit" editable-text="data.currentOrg.st">{{data.currentOrg.st || 'empty'}}</span>
                                    <span onaftersave="setDirty()" edit-disabled="!data.canEdit" editable-text="data.currentOrg.zc">{{data.currentOrg.zc || 'empty'}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <ion-list data-ng-if="data.currentMembers.length > 0">
                    <ion-item class="top">Members</ion-item>
                    <ion-item class="gray" data-ng-if="data.currentMembers == undefined"><i class="{{i.loadingSpinner}}"></i> Loading...</ion-item>
                    <ion-item ng-repeat="member in data.currentMembers" class="item-icon-right item-text-wrap" href="#/member/view/{{member.id}}">
                        <member-item member="member" m="Members"></member-item>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
                <div data-ng-if="data.currentMembers.length == 0">
                    {{'This organization has no direct members.'|translate}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    td.label {
        font-style: italic;
        color: #888;
        text-align: right !important;
        display: block;
    }
</style>
<script>
    $(".phone").on("click", function () { // not yet working
        $(this).mask('+7(999)999-9999');
    });
</script>
