.toolbar-background {
    background-color: navy !important;
}

.button.button-positive.active, .button.button-positive.activated {
    border-color: #999;
    background-color: #999;
    color: #FFF;
}

.button.button-positive {
    border-color: #AAA;
    color: #FFF;
    background-color: #AAA;
}

.tabs-assertive > .tabs, .tabs.tabs-assertive, .bar.bar-assertive {
    border-color: navy;
}