body, h1, h2, h3, h4, h5, table, tr, td, div, p, li {
  font-family: Arial, serif;
}

a, a:visited {
  cursor: pointer;
  color: color($colors, tertiary);
}

header-bar ion-icon:before {
  font-size: 3.5rem;
}

h1 {
  font-size: 8vmin;
  color: #888;
}

h2 {
  font-size: 6vmin;
  color: #666;
}

h3, .card h3 {
  margin-top: 1rem !important;
  font-size: 2rem !important;
  font-weight: 100 !important;
  color: #777 !important;
}

h4, .card h4 {
  margin-top: 1rem !important;
  font-size: 1.8rem !important;
  font-weight: bold !important;
}

h4 {
  font-size: 4vmin;
  color: #666;
  margin-bottom: 0;
}

ion-input {
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 0.5rem;

  .text-input {
    margin: 0;
  }
}

.item-inner {
  box-shadow: none !important;
}

/** Quill **/
.ql-toolbar.ql-snow {
  border: 1px solid #DDD;
  background: #DDD;
}

.editor {
  clear: both;
  padding-bottom: 30px;
}

ion-footer, ion-footer:before, ion-footer .toolbar-background {
  background: #f8f8f8;
  background-image: none;
}

ion-footer ion-icon:before {
  font-size: calc(28px + 1.3vw);
  color: rgba(140, 140, 140, 0.7);
}

ion-footer div.title {
  cursor: pointer;
  font-size: calc(8px + 0.8vw);
}

ion-footer ion-toolbar {
  background: #f8f8f8;
  background-image: none;
}

ion-footer ion-toolbar ion-col {
  color: rgba(140, 140, 140, 0.7);
  text-align: center;
  padding: 4px;
}

.TBD {
  color: red;
}

@media (max-width: 400px) {
  ion-footer div.title {
    display: none;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: darkorange;
}

.yellow {
  color: #FCE016;
}

button.save {
  background: green;
}

button.delete {
  background: red;
}

.dirty:before {
  color: #FCE016;
}

.locked i:before {
  color: red;
}

.badge {
  font-size: 0.7rem;
  color: #000;
  background: #666;
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -1.4rem !important;
}

.badge.count {
  background: white;
}

.progress-container {
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  text-overflow: ellipsis;
  background-color: #CCC;
  border: 2px solid transparent;
}

.progress-text {
  position: relative;
  z-index: 2;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.progress-bar {
  background-color: #8DC75C;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  line-height: inherit;
  z-index: 1;
}

.progress-container.selected {
  border: 2px solid #F7941E;
}

.styled-select {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

select {
  background: #FFF;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  font-size: 16px;
  height: 34px;
}

.toast-message {
  color: #FFF;
  background: #486898;
  padding: 1rem;
}

ion-menu app-icon {
  color: gray;
  font-size: 1.4em;
}

table thead tr th {
  background: #888;
  color: #FFF;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

.pull-left {
  float: left;
  margin-left: 0.5em;
}

.pull-left:first-child {
  margin-left: 0;
}

.pull-right {
  float: right;
  margin-right: 0.5em;
}

.pull-right:first-child {
  margin-right: 0;
}

ion-card, ion-card.card {
  padding: 8px;
  background: #EFEFEF;
}

ion-card img {
  display: inline !important;
  width: auto !important;
}

ion-card ion-card-header .item {
  padding: 4px;
}

.item {
  background-color: transparent !important;
}

ion-card ion-card-content .list {
  margin: 0;
}

.tab-button-text {
  text-transform: none;
}

ion-icon {
  font-size: 2.0rem !important;
  vertical-align: middle !important;
}

img.avatar-tiny {
  width: 32px !important;
  height: 32px !important;;
  min-width: 32px !important;
  min-height: 32px !important;;
  max-width: 32px !important;
  max-height: 32px !important;;
  border-radius: 32px;
  vertical-align: middle;
}

img.avatar-full {
  width: 64px;
  height: 64px;
  min-width: 64px !important;
  min-height: 64px !important;;
  max-width: 64px !important;
  max-height: 64px !important;;
  border-radius: 64px;
  vertical-align: middle;
}

img.avatar-list {
  width: 48px;
  height: 48px;
  min-width: 48px !important;
  min-height: 48px !important;;
  max-width: 48px !important;
  max-height: 48px !important;;
  border-radius: 48px;
  vertical-align: middle;
}

.letterFetch {
  color: #FFF;
  cursor: pointer;
}

.footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  height: 0 !important;
}

.bar-button-md {
  font-size: 2.4rem !important;
}

.tabs-md .tab-button-icon {
  font-size: 4rem !important;
}

.autocomplete-selector input {
  width: 100%;
}

.autocomplete-selector input.code {
  width: 6rem;
}

.suggestions {
  border: solid 1px #eee;
  position: absolute;
  top: 50px;
  left: 50px;
  width: auto;
  background: white;
  z-index: 99999;
  margin: 2em;
}

.suggestions ul {
  padding: 0;
  margin: 0;
}

.suggestions ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions ul li a {
  padding: 5px;
  display: block;
  text-decoration: none;
  color: #7E7E7E;
}

.suggestions ul li a:hover {
  background-color: #f1f1f1;
}

.complete-selected {
  background: #EFEFEF;
}

img.construction {
  width: 10% !important;
  height: auto !important;
  min-width: 200px !important;
  max-width: 300px !important;
  float: none !important;
  display: block !important;
  margin: 0 auto !important;
}

ion-footer .tabs ion-col.selected ion-icon, .tabs ion-col.selected ion-icon:before, .tabs ion-col.selected app-icon, ion-footer .tabs ion-col.selected .title {
  color: color($colors, primary);
}

app-icon {
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: center;
  color: #95989a;
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
}

app-icon i:before {
  font-size: 32px;
}

app-icon[size="small"] {
  height: 24px;
  width: 24px;
}

app-icon[size="small"] i:before {
  font-size: 24px;
}

app-icon[size="tiny"] {
  height: 16px;
  width: 16px;
}

app-icon[size="tiny"] i:before {
  font-size: 16px;
}

ion-navbar {
  button {
    background: transparent;
    color: #FFF;
  }
  button ion-icon:after {
    background: transparent;
    color: #FFF;
  }
}

button ion-icon {
  padding-right: 10px;
}

table.table {
  td.avatar {
    width: 52px;
  }
  td.icon {
    width: 40px;
  }
  .name {
    font-weight: bold;
  }
  .description {
    font-style: italic;
    color: #666;
  }
  .forward {
    float: right;
    color: #999;
  }
}

.dashboard {
  ion-col[width-80] {
    padding: 3vw;
  }
}

.table thead th {
  background: #DDD;
  color: #000;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: color($colors, secondary);
  border-color: color($colors, secondary);
}

.pagination > li > a, .pagination > li > span {
  color: color($colors, secondary);
}

.listing {
  cursor: pointer;
}

.list-drilldown {
  text-align: right;
  color: #AAA;
  font-size: 1.4em;
  font-weight: normal;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FCFFFE;
}

.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #F9FCFF;
}

.table td, .table th {
  vertical-align: middle !important;
}

table.micro-badge {
  background: transparent url(/assets/img/badge.png) center center no-repeat;
  background-size: contain;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  margin: 0.5em;
  max-width: 24px;
  max-height: 24px;
  min-height: 24px;
  min-width: 24px;
  font-size: 1.0em;
  line-height: 0.9em;
}

.micro-badge {
  font-size: 1rem;
  line-height: 1.1rem;
  display: inline-block;
  margin: 1rem;
  width: 36px;
  height: 36px;

  img {
    width: auto;
  }
  div {
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 22px;
  }
}

.micro-badge.small {
  width: 36px;
  height: 36px;
}

.micro-badge.medium {
  width: 48px;
  height: 48px;
}

.micro-badge.large {
  width: 64px;
  height: 64px;
}

.level-badbe i, .outcomeLevel i {
  font-size: 1.5em;
  font-weight: bold;
  width: 3em;
}

.level-badbe {
  padding: 0.4em;
  border-radius: 0.3em;
  font-size: 0.8em !important;
  font-weight: normal !important;
  font-style: normal !important;
  line-height: 1.5em;
  vertical-align: middle;
  float: left;
  margin: 0.4em;
  max-width: 50vmin;
  white-space: normal !important;
}

.level {
  font-size: 1.2em !important;
  font-weight: bold;
}

.level-name {
  padding: 0.4em 0.4em;
  border-radius: 1em;
  margin: 0.1em;
  font-size: 0.7em;
  line-height: 0.9em;
  height: auto;
  white-space: normal;
  text-align: center;
}

.button {
  background: #DDD;
}

.button.toggle.off {
  color: #999;
}

.yesNoBg0, .yesNoBg0:hover {
  background: #666 !important;
  color: #FFF !important;
}

.yesNoBg1, .yesNoBg1:hover {
  background: #FF0000 !important;
  color: #FFF !important;
}

.yesNoBg2, .yesNoBg2:hover {
  background: #008000 !important;
  color: #FFF !important;
}

.yesNoColor0, .yesNoColor0:hover {
  color: #AAA !important;
}

.yesNoColor1, .yesNoColor1:hover {
  color: #FF0000 !important;
}

.yesNoColor2, .yesNoColor2:hover {
  color: #008000 !important;
}

.levelBg0 {
  background: #AAA;
  color: #FFF;
}

.levelBg1 {
  background: #BB4444;
  color: #FFF;
}

.levelBg2 {
  background: #EE7A00;
  color: #FFF;
}

.levelBg3 {
  background: #FFD700;
  color: #444;
}

.levelBg4 {
  background: #6A8;
  color: #FFF;
}

.levelBg5 {
  background: #C000C0;
  color: #FFF;
}

.level3Bg0, .rubriclevel3Bg0 {
  background: #AAA;
  color: #FFF;
}

.level3Bg1, .rubriclevel3Bg1 {
  background: #BB4444;
  color: #FFF;
}

.level3Bg2, .rubriclevel3Bg2 {
  background: #7799EE;
  color: #FFF;
}

.level3Bg3, .rubriclevel3Bg3 {
  background: #6A8;
  color: #FFF;
}

.levelColor0 {
  color: #AAA;
}

.levelColor1 {
  color: #BB4444;
}

.levelColor2 {
  color: #EE7A00;
}

.levelColor3 {
  color: #FFD700;
}

.levelColor4 {
  color: #6A8;
}

.levelColor5 {
  color: #C000C0;
}

.label {
  color: #555;
  font-weight: 100;
}

.panel {
  background: #EEE;
}

label {
  font-weight: 100;
  font-style: italic;
  margin: 0.5rem 0.5rem 0 0;
}

inline-editor {
  margin: 0 1rem 2rem 1rem;
}

.alert-button {
  background-color: #F0F0F0 !important;
  color: color($colors, primary) !important;
  border-radius: 2px !important;
}

.alert-message {
  padding: 12px !important;
}

.alert-head {
  background: #D0D0D0;
  color: #FFF;
}

table.form {
  th, td {
    padding: 2px;
  }
  th {
    font-weight: 100;
    color: #666;
    text-align: right;
    font-style: italic;
  }
  td {
    text-align: left;
  }
}

.progressBar {
  position: relative;
  border: 1em solid white;
  padding: 1em;
  background: gray;
  vertical-align: middle;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.progressBar.selected:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px gray;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.topBar {
  background: #DDD;
  color: #444;
  padding: 1rem;
}

form {
  .label {
    text-align: left;
  }
  ion-textarea {
    background: #FFF;
  }

  .editor {
    padding-left: 16px;
    padding-right: 8px;
  }
  label, .label {
    color: #666 !important;
    opacity: 1;
    margin-top: 8px;
    font-size: 0.9em;
    font-style: italic;
  }
}

.ql-container {
  background: #FFF;
  padding: 4px;
}

.pull-right {
  float: right;
}

.searchbar, .searchbar-md {
  padding: 0 !important;
}

.clickable {
  cursor: pointer !important;
}

loading-indicator > div, loading-indicator > div ion-spinner {
  font-size: 1.2em;
  line-height: 1.2em;
  vertical-align: middle;
  color: #AAA;
  font-weight: 300;
}

.trumbowyg-box, .trumbowyg-editor {
  background: #FFF;
  height: 80px;
  min-height: 80px !important;
}

.trumbowyg-button-pane {
  background: #DDD !important;
}

.trumbowyg-editor, .trumbowyg-textarea {
  min-height: 80px;
  height: 80px;
  padding: 4px !important;
}

.trumbowyg-button-pane button {
  width: 24px !important;
  height: 24px !important;
  padding: 1px 2px !important;
  margin: 0 !important;
}

.trumbowyg-editor, .trumbowyg-textarea {
  padding: 4px !important;
}

.trumbowyg-button-pane {
  padding: 0 !important;
  min-height: 24px !important;
}

.trumbowyg-button-pane .trumbowyg-button-group {
  height: 24px;
}