<label class="item-input-wrapper" style="float:left;">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="{{'search...'|translate}}" ng-model="data.searchFilter">

    <div class="itemCount">{{filtered.length}} {{'records'|translate}}</div>
    <div style="margin-left:1em;" class="gray" data-ng-show="data.isLoading"><i class="{{i.loadingSpinner}}"></i> Loading...</div>
</label>
<div ng-if="data.showIncludeInactive" class="pull-right" style="margin: 0 2em;">
    <input type="checkbox" ng-click="changeActive()" ng-model="data.includeInactive"/> {{'Include Inactive'|translate}}
</div>

