<div class="row responsive-sm quiz-area" data-ng-show="inProgress">
    <div data-ng-show="!quizOver" class="col col-50 padding">
        <h2 id="question">{{question}}</h2>
        <ul id="options">
            <li ng-repeat="option in options">
                <label>
                    <input type="radio" name="answer" value="{{option}}">
                    {{option}}
                </label>
            </li>
        </ul>
        <button class="button button-calm" ng-click="checkAnswer()" data-ng-show="answerMode">Check Answer</button>
        <div data-ng-show="!answerMode && !quizOver">
            <button class="button button-positive next-question" ng-click="nextQuestion()">Next</button>
        </div>
    </div>
    <div class="col col-50 padding">
        <div data-ng-show="!answerMode && !quizOver">
            <div class="clearfix"></div>
            <div data-ng-show="correctAns" class="positive">
                That is correct.
            </div>
            <div data-ng-show="!correctAns" class="negative">
                Sorry, your answer was incorrect.
            </div>
            <div data-ng-show="!correctAns">This area provides additional detail and help for wrong answers.</div>
        </div>
    </div>
</div>
<div class="row responsive-sm quiz-area" data-ng-show="showingResults">
    <div class="col col-50 padding">
        <h2>Knowledge check is complete.</h2>

        <h3>Score: {{score}}</h3>
    </div>
    <div class="col col-50 padding">
        <div data-ng-show="isPassingScore()" class="positive">
            Congratulations! You've completed this module and earned a badge.
        </div>
        <div data-ng-show="!isPassingScore()" class="negative">
            Sorry, you didn't score well enough to complete this module. Please revisit the module content and ask for help on anything you don't
            understand.
        </div>
        <button class="button button-assertive" ng-click="reset()">Check Yourself Again!</button>
    </div>
</div>
<div class="intro" data-ng-show="!inProgress && !showingResults" style="margin:4em;">
    <button id="startQuiz" ng-click="start()" class="button button-assertive">Knowledge Check</button>
</div>
<style>
    .quiz-area li {
        margin-top: 0.3em;
        font-size: 1.2em;
    }

    .quiz-area div, .quiz-area button {
        margin: 0.2em;
    }

    .quiz-area button {
        margin-top: 1em;
    }

    .positive {
        color: darkgreen;
        background: #EEFFEE;
        border: 1px solid darkgreen;
        padding: 1em;
        font-size: 1.4em;
        border-radius: 1em;
    }

    .negative {
        color: red;
        border: 1px solid red;
        padding: 1em;
        background: #FFEEEE;
        font-size: 1.4em;
        border-radius: 1em;
    }
</style>
