<table class="assessmentItem items">
    <tr>
        <td data-ng-if="showMember">
            <img class="avatar border border{{assessment.member.lv}} avatar-small" data-ng-src="{{site}}/avatars/{{assessment.member.id}}.png" alt="" err-src="{{site}}/avatars/genericUser.png"/>
            {{assessment.member.fn}} {{assessment.member.ln}}
        </td>
        <td style="width:12em;">
            <a href="#/manager/assessment/{{assessment.id}}">{{assessment.lm|date:'EEE'}}, {{assessment.lm|date:'short'}}</a>
        </td>
        <td style="width:14em; text-align:left;" data-ng-if="assessment.assessor">
            by {{assessment.assessor.fn}} {{assessment.assessor.ln}}
            <img style="text-align:right;" class="avatar border border{{assessment.assessor.lv}} avatar-tiny" data-ng-src="{{site}}/avatars/{{assessment.assessor.id}}.png"
                 alt="{{assessment.assessor.fn}} {{assessment.assessor.ln}}" err-src="{{site}}/avatars/genericUser.png"/>
        </td>
        <td style="text-align:center; width:1.2em;">
            <div style="font-size:1.0em; padding: 0.3em 0.4em; text-align:center;"
                 data-ng-class="'matrixCircle ' + (assessment.typ == 'NAYesNo'?'yesNoBg':'levelBg') + assessment.rk"
                    >
                <div data-ng-switch="assessment.es">
                    <div data-ng-switch-when="L"><i class="{{i.locked}}"></i></div>
                    <div data-ng-switch-when="A"><i class="{{i.active}}"></i></div>
                    <div data-ng-switch-when="C"><i class="{{i.completed}}"></i></div>
                </div>
            </div>
        </td>
    </tr>
</table>
