<ion-view view-title="Assessment">
    <ion-nav-buttons side="left"><a data-ng-href="{{dashboardUrl()}}" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo {{i.signOut}}"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="true">
        <div style="float:left; margin:0.2vw 1vw 0 0;">
            <h1 style="margin:0">{{data.assessment.instrument.nm}}</h1>

            <div>
                Performed by: {{data.assessment.assessor.fn}} {{data.assessment.assessor.ln}}
                <avatar site="siteDir()" sz="'tiny'" member-id="data.assessment.assessor.id" level="0" alt="avatarAlt(data.assessor)"></avatar>
            </div>
        </div>
        <div class="iconBar">
            <button data-ng-if="canEdit() && data.assessment.es!='L'" class="button button-action button-save" data-ng-click="save()">
                <i class="{{i.save}}"></i>
            </button>
            <button data-ng-if="canLock()" class="button button-action button-{{data.assessment.es=='L'?'unlock':'lock'}}" data-ng-click="toggleLock()">
                <i class="{{data.assessment.es=='L'? i.unlocked : i.locked}}"></i>
            </button>
            <button data-ng-if="canRemove() && data.assessment.es!='L'" class="button button-action button-remove" data-ng-click="remove()">
                <i class="{{i.remove}}"></i>
            </button>
            <button class="button button-action button-pdf" data-ng-click="printIt()"><i class="{{i.pdf}}"></i></button>
            <div class="clearfix"></div>
        </div>
        <div>
            <div class="row responsive-sm">
                <div class="col col-25" style="text-align: center;">
                    <h4 style="margin:1em 0 0 0;">
                        <a href="#/manager/member/{{data.assessment.member.id}}">{{data.assessment.member.fn}} {{data.assessment.member.ln}}</a>
                    </h4>

                    <div class="role">{{data.assessment.member.rl}}</div>
                    <a href="#/manager/member/{{data.assessment.member.id}}">
                        <avatar site="siteDir()" sz="'medium'" member-id="data.assessment.member.id" level="data.assessment.sc"
                                alt="avatarAlt(data.assessment.member)"></avatar>
                    </a>

                    <div class="score" data-ng-show="data.assessment.avgRound > 0">
                        <div style="font-size:1.0em; padding: 0.3em 0; text-align:center; width:14vmin; margin:0 auto;"
                             data-ng-class="(data.assessment.typ == 'YESNO'?'yesNoBg':'levelBg') + data.assessment.avgRound"
                                >{{data.assessment.scoreWord}} ({{data.assessment.avg}})
                        </div>
                    </div>
                </div>
                <div class="col col-75">
                    <h5 data-ng-bind-html="installation.trademarkName + ' Recommended Modules'"></h5>

                    <div class="recommendationsPane">
                        <div class="item" data-ng-repeat="recommendation in data.recommendations">
                            <a href="/#/manager/resource/{{recommendation.resourceId}}">
                                <i class="{{i.resource}}"></i> {{recommendation.number}} {{recommendation.name}}
                            </a>
                            <recommendation-ranking weight="recommendation.weight" range="[1,1,1,1,1]" n="recommendation.weight"></recommendation-ranking>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row responsive-sm detail">
                <div class="col col-100 assessment">
                    <div style="display:none;">{{data.assessment.lm}}</div>
                    <div id="section{{$index}}" data-ng-repeat="section in data.assessment.instrument.sections" class="fadein fadeout">
                        <div data-ng-show="Instruments.sectionIsCurrent(data.assessment.instrument, section.id)">
                            <div style="float:left; margin-left:1em;">
                                <a ng-click="Instruments.sectionPrevious(data.assessment.instrument)"><< {{section.previous}}</a>
                            </div>
                            <div style="float:right; margin-right:1em;">
                                <a ng-click="Instruments.sectionNext(data.assessment.instrument)">{{section.next}}>></a>
                            </div>
                            <div class="clearfix"></div>
                            <div style="height:1em;"></div>
                            <ion-list>
                                <ion-item class="top">
                                    <h2 style="float:left;">{{section.number}} {{section.name}}</h2>
                                </ion-item>
                                <ion-item class="item-remove-animate" data-ng-repeat="question in section.questions" type="item-text-wrap">
                                    <div>
                                        <div style="display:table-row;">
                                            <div style="display:table-cell;" class="number" data-ng-bind="section.number + '.' + question.nb"></div>
                                            <div style="display:table-cell; line-height: 1em;" class="text" data-ng-bind="question.nm"></div>
                                        </div>
                                        <div class="description" data-ng-bind-html="question.dsc"></div>
                                    </div>
                                    <div data-ng-switch="data.assessment.es" class="response">
                                        <div data-ng-switch-when="A">
                                            <div data-ng-switch="question.typ">
                                                <div data-ng-switch-when="YESNO">
                                                    <div class="button-bar" style="max-width:12em; min-width:12em;">
                                                        <a class="button" data-ng-class="{'yesNoBg0': question.rsp.ri == 0}"
                                                           data-ng-click="updateResponse(question, 0)">N/A</a>
                                                        <a class="button" data-ng-class="{'yesNoBg1': question.rsp.ri == 1}"
                                                           data-ng-click="updateResponse(question, 1)">No</a>
                                                        <a class="button" data-ng-class="{'yesNoBg2': question.rsp.ri == 2}"
                                                           data-ng-click="updateResponse(question, 2)">Yes</a>
                                                    </div>
                                                </div>
                                                <div data-ng-switch-default="">
                                                    <div class="rubric">
                                                        <slider id="question_item_{{question.id}}" class="slider{{question.rsp.ri}}"
                                                                ng-model="question.rsp.ri" floor="{{question.mn }}" ceiling="{{question.mx}}" step-width="1"
                                                                ng-change="updateSliderResponse(question, this, true)"
                                                                style="width:100%; margin-bottom:-1em;"
                                                                >
                                                        </slider>
                                                        <div class="{{$index == question.rsp.ri? 'active':'inactive'}}"
                                                             data-ng-repeat="choice in question.rsp.ch"
                                                             data-ng-click="rubricSet(question,$index)"
                                                             style="width:{{rubricWidth(question.mx+1)}}%;">
                                                            <div class="rubric{{$index}}">{{choice.n}}</div>
                                                            <p data-ng-if="choice.r.length > 0">{{choice.r}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-ng-switch-default="">
                                            <div data-ng-class=" getResponseClass(question.typ, question.rsp.ri)">{{question.rsp.r}}</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div>
                                        <div class="pull-left">
                                            <a data-ng-click="question.showComments = (question.showComments == undefined? true : !question.showComments)">
                                                <i data-ng-class="hasComment(question)? i.noteFilled : i.noteEmpty"></i>
                                            </a>
                                        </div>
                                        <div class="pull-left" style="margin-left:1em;">
                                            <div data-ng-switch="showComment(question)">
                                                <div data-ng-switch-when="true">
                                                <textarea cols="60" rows="3" data-ng-model="question.rsp.ac"
                                                          data-ng-bind="question.rsp.ac"></textarea>
                                                </div>
                                                <div data-ng-switch-when="false">
                                                    <p class="comments" data-ng-bind-html="getComment(question)"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ion-item>
                            </ion-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
