<table class="cycle">
    <tr>
        <td style="text-align:left; vertical-align: middle !important; padding-top:2em;">
            <div style="float:left; margin-top:-7.6em; font-size:0.5em; line-height:1em; text-align: left;">
                {{user.firstName}} {{user.lastName}}<br/>{{jobtitle}}
            </div>
            <a href="#/{{role}}/dashboard/matrix">Assessment</a>
        </td>
        <td style="text-align:left; vertical-align: bottom !important;"><a href="#/{{role}}/outcomes">Outcomes</a></td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="poweredBy">
                <a href="//cogentQI.com">Powered by <img src="/img/logo_272x60.png" alt="" style="width: 15vmin;"/></a>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align:left; vertical-align: top !important;"><a style="margin-top:-2em;" href="#/{{role}}/resources">Professional<br/>Development</a>
        </td>
        <td style="text-align:left; vertical-align: top !important; padding-top:2em;"><a href="#/{{role}}/planning">Planning</a></td>
    </tr>
</table>
