<ion-view view-title="Assessments">
    <ion-nav-buttons side="left"><a href="/" data-ng-bind-html="installation.logo"></a></ion-nav-buttons>
    <ion-nav-buttons side="right"><a data-ng-click="logout()"><i class="logo ion-log-out"></i></a></ion-nav-buttons>
    <ion-content has-bouncing="false">
        <ion-list>
            <ion-item class="gray" data-ng-if="!data.evaluations.length"><i class="{{i.icons.loadingSpinner}}"></i> Loading...</ion-item>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="evaluation in data.evaluations"
                      type="item-text-wrap" href="#/manager/evaluation/{{evaluation.id}}">
                <div class="row">
                    <div class="col col-35">
                        <img class="border border{{evaluation.member.level}}" style="float:left; margin: 0 0.4em 0 0;" data-ng-src="{{evaluation.member.avatar}}">

                        <div style="float:left;margin: 0.1em;">
                            <div class="title">
                                {{evaluation.member.firstName}} {{evaluation.member.lastName}}
                            </div>
                            <div class="title" style="float:left;margin: 0.1em;">
                                <i class="level levelColor{{evaluation.member.level}} {{i.icons.levels[evaluation.member.level]}}"></i>
                                <span class="stamp">{{evaluation.lastSaved}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-55">
                        <div style="float:left; margin-right: 1em;" data-ng-repeat="section in e.sections">
                            <level-tag text="section.text" level="section.val" icon="i.icons.levels[section.val]"></level-tag>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
