<div class="row row-responsive-sm">
    <div class="col col-25 padding">

        <img data-ng-src="{{data.member.avatar}}" class="avatar-large">

        <div class="name">{{data.member.firstName}} {{data.member.lastName}}</div>
        <div class="title">{{data.member.jobTitle}}</div>
        <div class="role" data-ng-if="role.length && role != data.member.jobTitle">({{role}})</div>
    </div>
    <div class="col col-25 padding">
        <h3>Badges</h3>

        <div>
            <div data-ng-repeat="badge in data.member.badges">
                <micro-badge text="badge.title" size="'small'"></micro-badge>
            </div>
        </div>
    </div>
    <div class="col col-50 padding">
        <h3>Assessments To Date</h3>

        <div data-ng-repeat="assessment in data.member.assessments">
            <a href="#/manager/assessment/{{assessment.id}}" style="color:#777; text-decoration: none;">
                <i class="{{i.icons.assessment}}"></i>
                {{assessment.lastModified|date:'medium'}}
            </a>
        </div>
        <div>
            <button class="button button-balanced" href="#/manager/assessment/n/{{data.member.id}}">
                <i class="{{i.icons.add}}"></i> New Assessment
            </button>
        </div>

        <h3>Events</h3>

        <table class="events">
            <thead>
            <tr>
                <th colspan="2" style="text-align: left;">Occurred</th>
                <th style="text-align: left;">Name</th>
                <th style="text-align: left;">Process Area</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="event in data.member.events">
                <td><i class="{{i.icons.event}}"></i></td>
                <td>{{event.occurred|date:'medium'}}</td>
                <td>{{event.name}}</td>
                <td>{{event.cat}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<h2 style="margin-left:1em;">Assessment Progress</h2>
<div style="border: 1px solid gray; margin:0 2em 2em 2em;" data-ng-repeat="section in data.instrument.sections track by $index">
    <highchart id="memberHx_{{section.id}}" config="data.member.rptConfigHx[$index].config"></highchart>
</div>
<style>
    .events td, .events th {
        color: red;
        border: 0 solid #CCC;
        padding: 0.3em;
    }

    .events th {
        background: #CCC;
        color: #000;
    }
</style>