<div class="row responsive-sm">
    <div class="col col-50">
        <avatar site="siteDir()" member-id="member.id" sz="small" level="member.level" alt="avatarAlt(member)"></avatar>
        <div style="float:left;">
            <div class="name">{{member.firstName}} {{member.lastName}}</div>
            <div class="title">{{member.jobTitle}}</div>
            <div class="role" data-ng-if="member.role.length && member.role != member.jobTitle">({{member.role}})</div>
        </div>
    </div>
    <div class="col col-25">
        <micro-badge data-ng-if="member.badges.length" text="member.badges.length + ''" size="'count'"></micro-badge>
    </div>
    <div class="col col-25">
        <div data-ng-if="member.lastAssessment">
            <div style="text-decoration: underline;">Last Assessment</div>
            <assessment-item site="siteDir()" assessment="member.lastAssessment" i="i"></assessment-item>
        </div>
    </div>
</div>
<style>
    .assessmentItem td {
        padding: 0.3em;
        vertical-align: middle;
    }
</style>