<div class="row row-responsive-sm">
    <div class="col col-25 padding">

        <img data-ng-src="{{member.avatar}}" class="avatar-large">

        <div class="name">{{member.firstName}} {{member.lastName}}</div>
        <div class="title">{{member.jobTitle}}</div>
        <div class="role" data-ng-if="role.length && role != member.jobTitle">({{role}})</div>
    </div>
    <div class="col col-25 padding">
        TCFG:{{rptConfigHx}}
        <h3>Badges</h3>

        <div>
            <div data-ng-repeat="badge in member.badges">
                <micro-badge text="badge.title" size="'small'"></micro-badge>
            </div>
        </div>
    </div>
    <div class="col col-50 padding">
        <h3>Assessments To Date</h3>

        <div data-ng-repeat="evaluation in member.evaluations">
            <a href="#/manager/evaluation/{{evaluation.id}}" style="color:#777; text-decoration: none;">
                <i class="{{i.icons.evaluation}}"></i>
                {{evaluation.lastModified}}
            </a>
        </div>
        <h3>Events</h3>

        <table class="events">
            <thead>
            <tr>
                <th colspan="2">Occurred</th>
                <th>Name</th>
                <th>Process Area</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="event in member.events">
                <td><i class="{{i.icons.event}}"></i></td>
                <td>{{event.occurred}}</td>
                <td>{{event.name}}</td>
                <td>{{event.cat}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row row-responsive-sm">
    <div class="col col-100 padding">
        <highchart id="memberHx_{{member.id}}" config="rptConfigHx"></highchart>
    </div>
</div>
<style>
    .events td, .events th {
        color: red;
        border: 0px solid #CCC;
        padding: 0.3em;
    }
    .events th {
        background: #CCC;
        color: #000;
    }
</style>