<div class="row responsive-sm">
    <div class="col col-40">
        <img class="border border{{member.level}}" data-ng-src="{{member.avatar}}" style="float:left; margin-right:1em;"/>

        <div style="float:left;">
            <div class="name">{{member.firstName}} {{member.lastName}}</div>
            <div class="title">{{member.title}}</div>
            <div class="role">({{m.roleName(member)}})</div>
        </div>
    </div>
    <div class="col col-30">
        <micro-badge data-ng-if="m.numBadges(member) != '0'" text="m.numBadges(member)" size="'count'"></micro-badge>
    </div>
    <div class="col col-30" data-ng-init="eval = m.findLastEvaluation(member)">
        <div style="text-decoration: underline;">Last Assessment</div>
        <div><i class="{{i.icons.evaluation}}"></i>
            <a href="#/manager/evaluation/{{eval.id}}">{{eval.lastModified}}</a>
            <span data-ng-class="'matrixCircle ' + (eval.instrumentId == 1?'levelBg':'yesNoBg') + eval.scoreRank">{{eval.score}}</span>
        </div>
    </div>
</div>