<div class="row responsive-sm">
    <div class="col col-40">
        <img class="border border{{member.level}}" data-ng-src="{{member.avatar}}" style="float:left; margin-right:1em;"/>

        <div style="float:left;">
            <div class="name">{{member.firstName}} {{member.lastName}}</div>
            <div class="title">{{member.jobTitle}}</div>
            <div class="role" data-ng-if="member.roleName.length && member.roleName != member.jobTitle">({{member.roleName}})</div>
         </div>
    </div>
    <div class="col col-30">
        <micro-badge data-ng-if="member.badges.length" text="member.badges.length + ''" size="'count'"></micro-badge>
    </div>
    <div class="col col-30">
        <div data-ng-if="member.lastEval.i">
            <div style="text-decoration: underline;">Last Assessment</div>
            <div>
                <i class="{{i.icons.evaluation}}"></i>&nbsp;<a href="#/manager/evaluation/{{member.lastEval.id}}">{{member.lastEval.dt|date:'longDate'}}</a>&nbsp;<span
                   data-ng-class="'matrixCircle ' + (member.lastEval.i == 1?'levelBg':'yesNoBg') + member.lastEval.sr">{{member.lastEval.sr}}</span>
            </div>
        </div>
    </div>
</div>